{{- /*
I'm no longer playing with Emacs Org-Mode export tools, 
so my YAML frontmatter no longer says "markup: org". 
When it did, I had to match headlines thus:

`<h2 id="headline-([0-9]+)">(.+)</h2>`

Based on what I tried in the sandbox at 

https://niklasfasching.github.io/go-org/#headlines.org , 

the fact that a 1-asterisk headline maps to <h2>, and a 
3-asterisk'er maps to <h4>, etc. is a feature / convention / 
design pattern of Emacs Org Mode and not a bug. Anyway, I like it.

For markdown (as opposed to org mode), match headlines thus:

`<h1 id="([^"]+)">(.+)</h1>`

And, in the replacement, use the captures thus:

<p id="$1" class=" ... ... ... ">$2</p>
*/ -}}

{{ $theContent := .the_content }}

  {{- /* Wrap all numbering-outline prefixes, for later styling. With a few
         changes, these 4 calls to replaceRE appear in both dive-menu.html
         & asterize-headlines.html: */ -}}

  {{ $theContent =
      replaceRE
     `<h2 id="([^"]+)">([IVXLCDM]+\.) ([^<]+)</h2>`
     `<h2 id="$1">≤o$2≥ $3</h2>`
      $theContent 
  }}

  {{ $theContent =
      replaceRE
     `<h3 id="([^"]+)">([IVXLCDM]+\.[0-9]+\.) ([^<]+)</h3>`
     `<h3 id="$1">≤o$2≥ $3</h3>`
      $theContent 
  }}

  {{ $theContent =
      replaceRE
     `<h4 id="([^"]+)">([IVXLCDM]+\.[0-9]+\.[A-Z]+\.) ([^<]+)</h4>`
     `<h4 id="$1">≤o$2≥ $3</h4>`
      $theContent 
  }}

  {{ $theContent =
      replaceRE
     `<h5 id="([^"]+)">([IVXLCDM]+\.[0-9]+\.[A-Z]+\.[a-z]+\.) ([^<]+)</h5>`
     `<h5 id="$1">≤o$2≥ $3</h5>`
      $theContent 
  }}

  {{- /* Used to have 3 line breaks above the H2 & 3 below 2nd asterism */ -}}
  {{ $theContent = 
      replaceRE 
     `<h2 id="([^"]+)">` 
     `</details><div class="asterism-above-h2">-  *  - | -  *  - | -  *  - | -  *  - | -  *  - | -  *  - | -  *  -
|    *         *    |    *         *    |    *         *    |
*   *  |  *   *  |  *   *  |  *   *  |  *   *  |  *   *</div><h2 class="h2-from-1star" id="$1">` 
      $theContent 
  }}
  {{ $theContent = 
      replaceRE 
     `</h2>`
     `</h2><div class="rule-line-below-h2">□ - ≡ - ‖ - ≡ - | - ≡ - ‖ - ≡ - | - ≡ - ‖ - ≡ - | - ≡ - ‖ - ≡ - □</div><div class="asterism-below-h2">*   *  |  *   *  |  *   *  |  *   *  |  *   *  |  *   *
|    *         *    |    *         *    |    *         *    |
-  *  - | -  *  - | -  *  - | -  *  - | -  *  - | -  *  - | -  *  -</div><details class="beneath-asterized-h2" open="any-value-here-makes-it-open"><summary>Hide/Show</summary>` 
      $theContent 
  }}
  {{- /* For the DETAILS element, name="months-are-accordion-group" works nicely */ -}}
  {{- /* For the DETAILS element, style="display: contents;" fails (i.e., fails to hide the element itself) */ -}}
  {{- /* Used to have 3 line breaks above the H3 & 3 below 2nd asterism */ -}}
  {{ $theContent = 
      replaceRE 
     `<h3 id="([^"]+)">` 
     `<div class="asterism-above-h3">-  - | -  **  - | -  *  - | -  **  - | -  *  - | -  **  - | -  -</div><h3 class="h3-from-2stars" id="$1">` 
      $theContent 
  }}
  {{ $theContent = 
      replaceRE 
     `</h3>`
     `</h3><div class="rule-line-below-h3">• - * - | - * - • - * - | - * - • - * - | - * - • - * - | - * - •</div><div class="asterism-below-h3">-  - | -  **  - | -  *  - | -  **  - | -  *  - | -  **  - | -  -</div>`
      $theContent 
  }}
  {{- /* I used to have 3 line breaks above the H4, & 4 below the second asterism.
         Also, for H4 elements, I used to insert `TMPLT_H4STRT` after the opening
         tag and `TMPLT_H4ENDS` before the closing tag. They were used only in the
         partial template narrow-headlines.html, which I no longer need now that
         I've discovered `text-wrap-style: balance;`.
  */ -}}
  {{ $theContent = 
      replaceRE 
     `<h4 id="([^"]+)">` 
     `<div class="asterism-above-h4">-  -  -  -  -  *  -  *  -  *  -  -  -  -  -</div><h4 class="h4-from-3stars" id="$1">` 
      $theContent 
  }}
  {{ $theContent = 
      replaceRE 
     `</h4>`
     `</h4><div class="rule-line-below-h4">· - • - * - • - · - • - * - • - · - • - * - • - · - • - * - • - ·</div><div class="asterism-below-h4">-  -  -  -  -  *  -  *  -  *  -  -  -  -  -</div>`
      $theContent 
  }}
  {{ $theContent = 
      replaceRE
     `<h5 id="([^"]+)">`
     `<div class="asterism-above-h5">- * -</div><h5 class="h5-from-4stars" id="$1">`
      $theContent
  }}

{{- /* H5 elements have no asterism below, but they do have a rule line */ -}}
  {{ $theContent = 
      replaceRE
     `</h5>`
     `</h5><div class="rule-line-below-h5">· - · - · - · - · - · - · - · - · - · - · - · - · - · - · - · - ·</div>`
      $theContent
  }}

{{ if (eq .debug_or_qa "debug") }}

{{ else if (eq .debug_or_qa "qa") }}

{{ end }}
{{ return $theContent }}