{{ with site.Data.imagenotes.captions }}
  {{ $sdinc := slice }}
  {{ range . }}
    {{ $sdinc = $sdinc | append . }}
  {{ end }}

<script>
const captionsSheet = {{ $sdinc }};
let captionTimeoutId;

function hasMatchingFileBaseNameStem(someElement) {
  return someElement.fbns == this; // fileBaseNameStem;
}

const showCaption = function() {
  const modal = document.getElementById('gd-modal');
  var theFileName = "";
  var theFileBaseName = "";
  var theFileBaseNameStem = "";
  var width = "";
  var height = "";
  if (modal != null) {

    if (captionTimeoutId) {
      clearTimeout(captionTimeoutId);
    }

    let captionBlock = modal.querySelector('#gd-modal-caption');
    // no need to clone the following class:
    const onTimeOutClass = 'gd-modal-exif-ontimeout';
    let child = captionBlock.lastElementChild;
    while (child) {
	captionBlock.removeChild(child);
	child = captionBlock.lastElementChild;
    }
    let dl = document.createElement('dl');
    captionBlock.appendChild(dl);

    const addTag = (tag, value) => {
	let dt = document.createElement('dt');
	dt.innerText = tag;
	dl.appendChild(dt);
	let dd = document.createElement('dd');
	dd.innerText = value;
	dl.appendChild(dd);
    };

    var bothImgElements = modal.getElementsByClassName("gd-modal-content gd-modal-loaded");
    for (let i = 0; i < bothImgElements.length; i++) {
      if (bothImgElements[i].classList.contains("gd-modal-thumbnail")) {
        // must be the one we dont want, so do nothing
      } else {
        theFileName = bothImgElements[i].getAttribute("src");
        theFileBaseName = theFileName.substring(theFileName.lastIndexOf("/") + 1);
        theFileBaseNameStem = theFileBaseName.substring(0, theFileBaseName.lastIndexOf("."));
        addTag('File base name stem', theFileBaseNameStem);

        width = bothImgElements[i].getAttribute("width");
        height = bothImgElements[i].getAttribute("height");
        addTag('Width x Height', '' + width + ' x ' + height);

        // addTag('Example 1', '' + DBL_CURLIEZ site.Params.gallerydeluxe.foobar DBL_CURLIEZ);
        // addTag('Example 2', DBL_CURLIEZ (site.GetPage "galleries/annotated").Params.apple DBL_CURLIEZ);

        addTag('Caption', captionsSheet.find(hasMatchingFileBaseNameStem, theFileBaseNameStem).caption);
        addTag('Credits', captionsSheet.find(hasMatchingFileBaseNameStem, theFileBaseNameStem).credit);

        addTag('Folder size', {{ site.Data.imagenotes.captions | len }});
        {{ range where site.Data.imagenotes.captions "fbns" "FOLDER-LEVEL NOTE" }}
          addTag('Folder note', '' + {{ .note }});
        {{ end }}

        // we are done, so short-circuit the loop:
        i = bothImgElements.length;
      }
    }

    captionBlock.classList.remove(onTimeOutClass);
    captionTimeoutId = setTimeout(() => {
      captionBlock.classList.add(onTimeOutClass);
    }, 2000);

  }
}

document.addEventListener('keydown', function (e) {
  switch (e.key) {
    case 'ArrowUp':
    case 'ArrowDown':
      showCaption();
      break;
//     case 'Escape':
//        console.log(`[${new Date().toISOString()}] whatever`);
//        break;
  }
});

// Start observing visbility of element. On change, the
//   the callback is called with Boolean visibility as
//   argument:
//
//function respondToVisibility(element, callback) {
//  var options = {
//    root: null,
//  };
//  var observer = new IntersectionObserver((entries, observer) => {
//    entries.forEach(entry => {
//      callback(entry.intersectionRatio > 0);
//    });
//  }, options);
//  observer.observe(element);
//}

</script>
{{ end }}