{{- $page := .page }}
{{- $menuID := .menuID }}
{{- $theShownPage := .theShownPage }}

{{- with index site.Menus $menuID }}
  <nav>
    <ul>
      {{- partial "inline/flex-menu/walk.html" (dict "page" $page "menuEntries" . "theShownPage" $theShownPage) }}
    </ul>
  </nav>
{{- end }}

{{- define "_partials/inline/flex-menu/walk.html" }}
  {{- $page := .page }}
  {{- $theShownPage := .theShownPage }}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu .}}
      {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
    {{- end }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
    <li>
      {{ .Pre }}<a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >{{ $name }}</a>{{ .Post }}{{ if (eq $theShownPage.LinkTitle .Name) }}&nbsp;&lt;---{{ end }}
      {{- with .Children }}
        <ul>
          {{- partial "inline/flex-menu/walk.html" (dict "page" $page "menuEntries" . "theShownPage" $theShownPage) }}
        </ul>
      {{- end }}
    </li>
  {{- end }}
{{- end }}