{{ $enclosingClassifier := .letter }}
{{ $the_content := .twig_content }}

{{ $counters := newScratch }}
{{ $countersAsString := "Tags: " }}

{{ $regexpToFindNestedClassifiers := `≤.` }}
{{ $allNestedClassifiers := findRE $regexpToFindNestedClassifiers $the_content }}
{{ range $allNestedClassifiers }}
  {{ $foundLetter := (substr . 1 1) }}
  {{ $counters.SetInMap "theOnlyKey" $foundLetter "unused value" }}
{{ end }}
{{ $workableMap := $counters.Get "theOnlyKey" }}
{{ range $k, $v := $workableMap }}
  {{ $countersAsString = (add $countersAsString $k ` `) }}
{{ end }}
{{ return $countersAsString }}