{{ $classifier := .letter }}
{{ $the_content := .leaf_text }}

{{ $content_replacement := "YOU WONT SEE THIS" }}
{{ $result := "THIS SHOULD BE CLOBBERED" }}
{{ if (eq $classifier "a") }}
{{- /* CASE a is block-level only */ -}}
  {{ if (and 
      (strings.Contains $the_content "writing in") 
      (strings.Contains $the_content "under the headline")
      )
  }}
  {{- /* CASE a1: typical reportage, e.g.

         #### ≤aBlake Gopnik, writing in NYT (2021) under the headline «Who Said Art Is Only for the One Percent?»≥

  */ -}}
    {{ $content_replacement =
        replaceRE 
        `(.+), writing in (.+) TMPLT_LPAREN([12][0-9][0-9][0-9])TMPLT_RPAREN under the headline TMPLT_LDGUIL(.+)TMPLT_RDGUIL`
        `$1, writing in $2 TMPLT_LPAREN $3 TMPLT_RPAREN under the headline TMPLT_LDGUIL $4 TMPLT_RDGUIL`
        $the_content
    }}
    {{ $result = $content_replacement }}
  {{ else if (eq "Published by" (substr $the_content 0 12)) }}
  {{- /* CASE a2: authorless press release, e.g.

         #### ≤aPublished by Pew Research Center (2016): «Ideological Gap Widens Between More, Less Educated Adults»≥ 

  */ -}}
    {{ $content_replacement =
        replaceRE 
        `Published by (.+) TMPLT_LPAREN([12][0-9][0-9][0-9])TMPLT_RPAREN: TMPLT_LDGUIL(.+)TMPLT_RDGUIL`
        `Published by $1 TMPLT_LPAREN $2 TMPLT_RPAREN: TMPLT_LDGUIL $3 TMPLT_RDGUIL`
        $the_content
    }}
    {{ $result = $content_replacement }}
  {{ end }}
{{ else if (eq $classifier "b") }}
{{- /* CASE b is block-level only */ -}}
{{- /* CASE b: blockquotes, e.g. DELETE - SEEMS HANDLED OK BY https://yuin.github.io/goldmark/playground/

       ^> "..." ---> ≤b...≥ ---> <blockquote>

USE gt's, not b's

       ≤bBrown and the others called the police, as the Japanese shells continued to fall around them.≥

*/ -}}
  {{ $result = (add 
      `<blockquote>` 
      $the_content 
      `</blockquote>`
      ) 
  }}
{{ else if (eq $classifier "c") }}
{{- /* CASE c is span-level only */ -}}
{{- /* CASE c: title citations that require special handling, e.g.

         ... in ≤cThree Theories That Explain This Strange Moment≥, 2022-11-12 ---> <cite class="special-citation">...</cite>

         ... in ≤cHow ‹I despise, therefore I am› locks in the political status quo≥, 2023-04-12  ---> <cite class="special-citation">...</cite> (WHAT ABOUT THE NESTED PHRASE?)

         ... a class, ≤cThe Problem of Whiteness≥, and ...
         "Course names are capitalized but not italicized or in quotes." -- https://www.swarthmore.edu/communications-office/editorial-style-guide. But NYT uses quotation marks apparently.

         ... of ≤cNBC Out≥, an ...

         ... one of Chaucer’s ≤wCanterbury Tales≥, ≤cThe Reeve’s Tale≥.

*/ -}}
  {{ $result = (add 
      `TMPLT_LSPECC ` 
      $the_content 
      ` TMPLT_RSPECC`
      ) 
  }}
{{ else if (eq $classifier "d") }}
{{- /* CASE d is span-level and block-level */ -}}
{{- /* CASE d: definitions and abbreviations, e.g.

       ≤dENIAC, Electronic Numerical Integrator And Computer≥ ---> <abbr>ENIAC</abbr> (Electronic Numerical Integrator And Computer)

       (BUT WHEN I GET AROUND TO DEFS ... ?)

*/ -}}
  {{ $content_replacement =
      replaceRE 
      `([^ ,≥]+), ([^≥]+)`
      `TMPLT_LABBRV $1 TMPLT_RABBRV TMPLT_LPAREN $2 TMPLT_RPAREN`
      $the_content
  }}
  {{ $result = $content_replacement }}
{{ else if (eq $classifier "k") }}
{{- /* CASE k is block-level only */ -}}
{{- /* CASE k: deks, e.g.

       ^dek: "..." ---> ≤k...≥

       ≤bThe subhead, or dek, of the magazine article goes here≥

*/ -}}
  {{ $result = (add 
      `<div class="dek">TMPLT_LDGUIL ` 
      $the_content 
      ` TMPLT_RDGUIL TMPLT_2HYFNS the subheadline</div>`
      ) 
  }}
{{ else if (eq $classifier "l") }}
{{- /* CASE l is span-level only */ -}}
{{- /* CASE l: term, word-as-word, logical-statement, synonym, unassimilated foreign word. e.g.

       ≤lDeep South≥ ---> <i class="term">Deep South</i>

*/ -}}
  {{ $result = (add 
      `TMPLT_LLOGIC ` 
      $the_content 
      ` TMPLT_RLOGIC`
      ) 
  }}
{{ else if (eq $classifier "n") }}
{{- /* CASE n is span-level only */ -}}
{{- /* CASE n: nicknames, e.g.

       Mary Frances ≤nFrancky≥ Knapp
       --->
       Mary Frances <i class="nickname">Francky</i> Knapp

*/ -}}
  {{ $result = (add 
      `TMPLT_LNIKNM ` 
      $the_content 
      ` TMPLT_RNIKNM`
      ) 
  }}
{{ else if (eq $classifier "s") }}
{{- /* CASE s is span-level only */ -}}
{{- /* CASE s: terms that are so-called, e.g.

       ≤sBad≥ ---> <i class="so-called">Bad</i>
       BUT I used quotation marks for this:
       ... thinks our system is «rotten». Trump thinks Putin is a «genius» ...

*/ -}}
  {{ $result = (add 
      `TMPLT_LSOCLD ` 
      $the_content 
      ` TMPLT_RSOCLD`
      ) 
  }}
{{ else if (eq $classifier "w") }}
{{- /* CASE w is span-level only */ -}}
{{- /* CASE w: For the typically italicized title/name of a WORK, e.g. book title, newspaper title. So some are series (periodicals) and some aren't.

       ≤wRubber Soul≥ ---> <cite class="tbd-title">Rubber Soul</cite>
       TODO: tbd-title ---> book-title, film-title, artwork-title etc.
       ... episode of the CNN [series] ≤wNomad≥. ...

*/ -}}
  {{ $result = (add 
      `TMPLT_LTITLE ` 
      $the_content 
      ` TMPLT_RTITLE`
      ) 
  }}
{{ else }}
  {{ $result = (add "ZZZZZ Unknown classifier! " $classifier "ZZZZZ") }}
{{ end }}
{{ return $result }}


















