{{ $classifier := .letter }}
{{ $the_content := .leaf_text }}

{{ $content_replacement := "YOU WONT SEE THIS" }}
{{ $result := "THIS SHOULD BE CLOBBERED" }}

{{ if (eq $classifier "a") }}
{{- /* CASE a is span-level only */ -}}
{{- /* CASE a: For the typically quoted title/headline of an article or whitepaper.

       Article titles that are in 4-hash headings are inferred via regexps 
       in the partial template named prefixed-blocks.html, but other
       references to them require ≤a ... ≥ (e.g., the 2nd occurrence of
       the article «Three Theories That Explain This Strange Moment».)

*/ -}}
  {{ $result = (add 
      `TMPLT_LATITL ` 
      $the_content 
      ` TMPLT_RATITL`
      ) 
  }}
{{ else if (eq $classifier "b") }}
{{- /* CASE b is span-level only */ -}}
{{- /* CASE b: For the typically italicized title/name of a book.

       ≤bMoby Dick≥ ---> <cite class="book-title">Moby Dick</cite>

*/ -}}
  {{ $result = (add 
      `TMPLT_LBTITL ` 
      $the_content 
      ` TMPLT_RBTITL`
      ) 
  }}
{{ else if (eq $classifier "c") }}
{{- /* CASE c is span-level only */ -}}
{{- /* CASE c: For the typically quoted title/name of an akin-to-an-article text, e.g. a chapter

         ... one of Chaucer’s ≤bCanterbury Tales≥, ≤cThe Reeve’s Tale≥. ...

*/ -}}
  {{ $result = (add 
      `TMPLT_LCTITL ` 
      $the_content 
      ` TMPLT_RCTITL`
      ) 
  }}
{{ else if (eq $classifier "??????????") }}
{{- /* CASE ?????????? is span-level only */ -}}
{{- /* CASE ??????????: title citations that require special handling, e.g.

         ... in ≤cThree Theories That Explain This Strange Moment≥, 2022-11-12 ---> <cite class="special-citation">...</cite>

         ... in ≤cHow ‹I despise, therefore I am› locks in the political status quo≥, 2023-04-12  ---> <cite class="special-citation">...</cite> (WHAT ABOUT THE NESTED PHRASE?)

         ... a class, ≤cThe Problem of Whiteness≥, and ...
         "Course names are capitalized but not italicized or in quotes." -- https://www.swarthmore.edu/communications-office/editorial-style-guide. But NYT uses quotation marks apparently.

*/ -}}
  {{ $result = (add 
      `TMPLT_LSPECC ` 
      $the_content 
      ` TMPLT_RSPECC`
      ) 
  }}
{{ else if (eq $classifier "d") }}
{{- /* CASE d is span-level and block-level */ -}}
{{- /* CASE d: definitions and abbreviations, e.g.

       ≤dENIAC, Electronic Numerical Integrator And Computer≥ ---> <abbr>ENIAC</abbr> (Electronic Numerical Integrator And Computer)

       (BUT WHEN I GET AROUND TO DEFS ... ?)

*/ -}}
  {{ $content_replacement =
      replaceRE 
      `([^ ,≥]+), ([^≥]+)`
      `TMPLT_LABBRV $1 TMPLT_RABBRV TMPLT_LPAREN $2 TMPLT_RPAREN`
      $the_content
  }}
  {{ $result = $content_replacement }}
{{ else if (eq $classifier "l") }}
{{- /* CASE l is span-level only */ -}}
{{- /* CASE l: term, word-as-word, logical-statement, synonym, unassimilated foreign word. e.g.

       ≤lDeep South≥ ---> <i class="term">Deep South</i>

*/ -}}
  {{ $result = (add 
      `TMPLT_LLOGIC ` 
      $the_content 
      ` TMPLT_RLOGIC`
      ) 
  }}
{{ else if (eq $classifier "m") }}
{{- /* CASE m is span-level only */ -}}
{{- /* CASE m: For names of media outlets

         ... of ≤mNBC Out≥, an ...

*/ -}}
  {{ $result = (add 
      `TMPLT_LMTITL ` 
      $the_content 
      ` TMPLT_RMTITL`
      ) 
  }}
{{ else if (eq $classifier "n") }}
{{- /* CASE n is span-level only */ -}}
{{- /* CASE n: nicknames, e.g.

       Mary Frances ≤nFrancky≥ Knapp
       --->
       Mary Frances <i class="nickname">Francky</i> Knapp

*/ -}}
  {{ $result = (add 
      `TMPLT_LNIKNM ` 
      $the_content 
      ` TMPLT_RNIKNM`
      ) 
  }}
{{ else if (eq $classifier "s") }}
{{- /* CASE s is span-level only */ -}}
{{- /* CASE s: terms that are so-called, e.g.

       ≤sBad≥ ---> <i class="so-called">Bad</i>
       BUT I used quotation marks for this:
       ... thinks our system is «rotten». Trump thinks Putin is a «genius» ...

*/ -}}
  {{ $result = (add 
      `TMPLT_LSOCLD ` 
      $the_content 
      ` TMPLT_RSOCLD`
      ) 
  }}
{{ else if (eq $classifier "w") }}
{{- /* CASE w is span-level only */ -}}
{{- /* CASE w: For the typically italicized title/name of an akin-to-a-book WORK, e.g. film title, album title, magazine title, newspaper (but ... always?!) title. So some are series (periodicals) and some aren't.

       ≤wRubber Soul≥ ---> <cite class="like-book-title">Rubber Soul</cite>
       TODO: like-book-title ---> magazine-title, lp-title, film-title, artwork-title etc.
       ... episode of the CNN [series] ≤wNomad≥. ...

*/ -}}
  {{ $result = (add 
      `TMPLT_LWTITL ` 
      $the_content 
      ` TMPLT_RWTITL`
      ) 
  }}
{{ else }}
  {{ $result = (add "ZZZZZ Unknown classifier! " $classifier "ZZZZZ") }}
{{ end }}
{{ return $result }}


















