{{ $theContent := .the_content }}

{{ if (eq .sanitize_or_restore "sanitize") }}

  {{- /* `TMPLT_[A-Z0-9][A-Z0-9][A-Z0-9][A-Z0-9][A-Z0-9][A-Z0-9]` */ -}}
  {{ $theContent = replaceRE `\)` `TMPLT_RPAREN` $theContent }}
  {{ $theContent = replaceRE `\(` `TMPLT_LPAREN` $theContent }}
  {{- /* Escaping square brackets, because they caused some commentary
         blocks to fail to match:
  */ -}}
  {{ $theContent = replaceRE `\]` `TMPLT_RSQBKT` $theContent }}
  {{ $theContent = replaceRE `\[` `TMPLT_LSQBKT` $theContent }}
  {{ $theContent = replaceRE `\?` `TMPLT_QSTNMK` $theContent }}
  {{ $theContent = replaceRE `\+` `TMPLT_PLUSSN` $theContent }}
  {{ $theContent = replaceRE `\$` `TMPLT_DOLLAR` $theContent }}

  {{- /* The following, which is also the apostrophe in most publications, is
         unused in any other template. Farther below in this template, it will
         be converted to a pair of spans in support of mini-theming.
  */ -}}

  {{ $theContent = replaceRE `’`  `TMPLT_RSNGQA` $theContent }}

  {{- /* The following 3 will pass through the templating process, and appear
         unaltered on screen. They have no effect on any processing, as far as
         I've tested.

         n.b.: `‘`, which is the Unicode "left single quotation mark" and also
         the HTML named entity "&lsquo;", is sometimes called the "turned comma"
         and was historically used when printing some Scottish surnames. (See
         https://www.greenbag.org/v12n3/v12n3_collins.pdf, and footnote h of
         https://en.wikipedia.org/wiki/Quotation_mark .)
  */ -}}

  {{ $theContent = replaceRE `‘`  `TMPLT_LSNGQA` $theContent }}
  {{ $theContent = replaceRE `”`  `TMPLT_RDBLQA` $theContent }}
  {{ $theContent = replaceRE `“`  `TMPLT_LDBLQA` $theContent }}

  {{ $theContent = replaceRE `«`  `TMPLT_LDGUIL` $theContent }}
  {{ $theContent = replaceRE `»`  `TMPLT_RDGUIL` $theContent }}
  {{ $theContent = replaceRE `‹`  `TMPLT_LSGUIL` $theContent }}
  {{ $theContent = replaceRE `›`  `TMPLT_RSGUIL` $theContent }}
  {{- /* The spaces around the double hyphens prevent some links from breaking: */ -}}
  {{ $theContent = replaceRE ` -- ` `TMPLT_2HYFNS` $theContent }}
  {{- /* In some clippings, the en dash is erroneously used instead of the em dash: */ -}}
  {{ $theContent = replaceRE ` – `  `TMPLT_2HYFNS` $theContent }}
  {{ $theContent = replaceRE ` — `  `TMPLT_2HYFNS` $theContent }}
  {{ $theContent = replaceRE `†`    `TMPLT_DAGGER` $theContent }}

{{- /* Why can't these be handled by :before and :after in .scss? */ -}}
{{- /* 
  {{ $allText = replaceRE `<cite>`  `&#8990;<cite>`  $allText }}
  {{ $allText = replaceRE `</cite>` `</cite>&#8991;` $allText }}
end of comment was here
  {{ $allText = replaceRE `<abbr>`  `&#9659;<abbr>`  $allText }}
  {{ $allText = replaceRE `</abbr>` `</abbr>&#9669;` $allText }}
*/ -}}

{{ else if (eq .sanitize_or_restore "restore") }}

  {{- /* The replacements below with a space next to the 
         substitute are only for cases where a symbol like 
         $1, $2 etc. must be followed by a space in the
         definition of one of the replacements above.
  */ -}}
  {{ $theContent = replaceRE `TMPLT_LPAREN ` `<span class="lparen">(</span>`  $theContent }}
  {{ $theContent = replaceRE `TMPLT_LPAREN` `<span class="lparen">(</span>`  $theContent }}
  {{ $theContent = replaceRE ` TMPLT_RPAREN` `<span class="rparen">)</span>`  $theContent }}
  {{ $theContent = replaceRE `TMPLT_RPAREN` `<span class="rparen">)</span>`  $theContent }}
  {{ $theContent = replaceRE `TMPLT_RSQBKT` `<span class="rsqbkt">]</span>`  $theContent }}
  {{ $theContent = replaceRE `TMPLT_LSQBKT` `<span class="lsqbkt">[</span>`  $theContent }}
  {{ $theContent = replaceRE `TMPLT_QSTNMK` `?`  $theContent }}
  {{ $theContent = replaceRE `TMPLT_PLUSSN` `+`  $theContent }}
  {{ $theContent = replaceRE `TMPLT_DOLLAR` `$`  $theContent }}

  {{- /* This template is the only one involved in generating the following,
         mini-theme-sensitive, apostrophe feature:
  */ -}}

  {{ $theContent = replaceRE `TMPLT_RSNGQA` `<span class="apost-rsquo">’</span><span class="apost-apost">'</span>`  $theContent }}

  {{ $theContent = replaceRE `TMPLT_LSNGQA` `‘`  $theContent }}
  {{ $theContent = replaceRE `TMPLT_LDBLQA` `“`  $theContent }}
  {{ $theContent = replaceRE `TMPLT_RDBLQA` `”`  $theContent }}

  {{ $theContent = replaceRE `TMPLT_LDGUIL ` `<q>`  $theContent }}
  {{ $theContent = replaceRE `TMPLT_LDGUIL` `<q>`  $theContent }}
  {{ $theContent = replaceRE ` TMPLT_RDGUIL` `</q>`  $theContent }}
  {{ $theContent = replaceRE `TMPLT_RDGUIL` `</q>`  $theContent }}
  {{ $theContent = replaceRE `TMPLT_LSGUIL` `<q>`  $theContent }}
  {{ $theContent = replaceRE `TMPLT_RSGUIL` `</q>`  $theContent }}
  {{ $theContent = replaceRE `TMPLT_LSOCLD `
                             `<i class="so-called">`  $theContent }}
  {{ $theContent = replaceRE ` TMPLT_RSOCLD` `</i>`  $theContent }}
  {{ $theContent = replaceRE `TMPLT_LNIKNM `
                             `<i class="nickname">`  $theContent }}
  {{ $theContent = replaceRE ` TMPLT_RNIKNM` `</i>`  $theContent }}
  {{ $theContent = replaceRE `TMPLT_LOUTLN ` `<span class="numbering-outline">`  $theContent }}
  {{ $theContent = replaceRE ` TMPLT_ROUTLN` `</span>`  $theContent }}
  {{ $theContent = replaceRE `TMPLT_LSMPLQ `
                             `<q>`  $theContent }}
  {{ $theContent = replaceRE ` TMPLT_RSMPLQ`
                             `</q>`  $theContent }}
  {{ $theContent = replaceRE `TMPLT_LRUBY1 `
                             `<ruby>`  $theContent }}
  {{ $theContent = replaceRE ` TMPLT_RRUBY1`
                             `</ruby>`  $theContent }}
  {{ $theContent = replaceRE `TMPLT_LRUBYT `
                             `<rt>`  $theContent }}
  {{ $theContent = replaceRE ` TMPLT_RRUBYT`
                             `</rt>`  $theContent }}
  {{ $theContent = replaceRE `TMPLT_LEPIGM `
                             `<i class="epigram">`  $theContent }}
  {{ $theContent = replaceRE ` TMPLT_REPIGM` `</i>`  $theContent }}
  {{ $theContent = replaceRE `TMPLT_LFREGN `
                             `<i class="foreign">`  $theContent }}
  {{ $theContent = replaceRE ` TMPLT_RFREGN` `</i>`  $theContent }}
  {{ $theContent = replaceRE `TMPLT_LLOGIC `
                             `<i class="logic">`  $theContent }}
  {{ $theContent = replaceRE ` TMPLT_RLOGIC` `</i>`  $theContent }}

  {{- /* Example of how I once inserted an invisible pair of quotation marks, so
         that selecting text with the mouse (in order to copy-and-paste) will 
         include quotation marks. Visible quotation marks are CSS pseudo-elements,
         and therefore not in the DOM, so text selection fails to capture them.

         $theContent = replaceRE `TMPLT_LATITL `
           `<cite class="article-title"><span style="color: transparent;">“</span>`  $theContent
         $theContent = replaceRE ` TMPLT_RATITL` 
           `<span style="color: transparent;">”</span></cite>`  $theContent
  */ -}}

  {{ $theContent = replaceRE `TMPLT_LATITL `
                             `<cite class="article-title">`  $theContent }}
  {{ $theContent = replaceRE ` TMPLT_RATITL` `</cite>`  $theContent }}
  {{ $theContent = replaceRE `TMPLT_LBTITL ` 
                             `<cite class="book-title">`  $theContent }}
  {{ $theContent = replaceRE ` TMPLT_RBTITL` `</cite>`  $theContent }}
  {{ $theContent = replaceRE `TMPLT_LCTITL ` 
                             `<cite class="like-article-title">`  $theContent }}
  {{ $theContent = replaceRE ` TMPLT_RCTITL` `</cite>`  $theContent }}
  {{ $theContent = replaceRE `TMPLT_LWTITL ` 
                             `<cite class="like-book-title">`  $theContent }}
  {{ $theContent = replaceRE ` TMPLT_RWTITL` `</cite>`  $theContent }}

  {{ $theContent = replaceRE `TMPLT_LMTITL ` 
                             `<cite class="media-title">`  $theContent }}
  {{ $theContent = replaceRE ` TMPLT_RMTITL` `</cite>`  $theContent }}
  {{ $theContent = replaceRE `TMPLT_LSPECC ` 
                             `<cite class="special-citation">`  $theContent }}
  {{ $theContent = replaceRE ` TMPLT_RSPECC` `</cite>`  $theContent }}
  {{ $theContent = replaceRE `TMPLT_LABBRV ` `<abbr>`  $theContent }}
  {{ $theContent = replaceRE ` TMPLT_RABBRV` `</abbr>`  $theContent }}
  {{- /* The spaces are purely cosmetic: */ -}}
  {{ $theContent = replaceRE `TMPLT_2HYFNS` ` <span class="dash-as-hyphens">--</span><span class="dash-as-emdash">—</span> ` $theContent }}
  {{ $theContent = replaceRE `TMPLT_DAGGER` `†` $theContent }}

{{ else if (eq .sanitize_or_restore "restore_for_gemini") }}

  {{- /* Oblique: */ -}}

  {{ $theContent = replaceRE `TMPLT_LABBRV ` `∫`  $theContent }}
  {{ $theContent = replaceRE ` TMPLT_RABBRV` `∫ ⓣ`  $theContent }}
  {{ $theContent = replaceRE `TMPLT_LFREGN ` `∫`  $theContent }}
  {{ $theContent = replaceRE ` TMPLT_RFREGN` `∫ ⓕ`  $theContent }}
  {{ $theContent = replaceRE `TMPLT_LLOGIC ` `∫`  $theContent }}
  {{ $theContent = replaceRE ` TMPLT_RLOGIC` `∫ Ⓛ`  $theContent }}
  {{ $theContent = replaceRE `TMPLT_LBTITL ` `∫`  $theContent }}
  {{ $theContent = replaceRE ` TMPLT_RBTITL` `∫ ⓑ`  $theContent }}
  {{ $theContent = replaceRE `TMPLT_LWTITL ` `∫`  $theContent }}
  {{ $theContent = replaceRE ` TMPLT_RWTITL` `∫ ⓦ`  $theContent }}

  {{- /* Quoted (& double, because typically unnested): */ -}}

  {{ $theContent = replaceRE `TMPLT_LATITL ` `«`  $theContent }}
  {{ $theContent = replaceRE ` TMPLT_RATITL` `» ⓐ`  $theContent }}
  {{ $theContent = replaceRE `TMPLT_LCTITL ` `«`  $theContent }}
  {{ $theContent = replaceRE ` TMPLT_RCTITL` `» ⓒ`  $theContent }}

  {{- /* Quoted (& single, because typically nested): */ -}}

  {{ $theContent = replaceRE `TMPLT_LEPIGM ` `‹`  $theContent }}
  {{ $theContent = replaceRE ` TMPLT_REPIGM` `› ⓔ`  $theContent }}
  {{ $theContent = replaceRE `TMPLT_LNIKNM ` `‹`  $theContent }}
  {{ $theContent = replaceRE ` TMPLT_RNIKNM` `› ⓝ`  $theContent }}
  {{ $theContent = replaceRE `TMPLT_LSOCLD ` `‹`  $theContent }}
  {{ $theContent = replaceRE ` TMPLT_RSOCLD` `› ⓢ`  $theContent }}

  {{- /* Doing nothing with media titles except adding the ⓜ: */ -}}

  {{ $theContent = replaceRE `TMPLT_LMTITL ` ``  $theContent }}
  {{ $theContent = replaceRE ` TMPLT_RMTITL` ` ⓜ`  $theContent }}

  {{- /* Doing nothing at all with numbering-outline here in gemini handling: */ -}}

  {{ $theContent = replaceRE `TMPLT_LOUTLN ` ``  $theContent }}
  {{ $theContent = replaceRE ` TMPLT_ROUTLN` ``  $theContent }}

  {{- /* The replacements below with a space next to the 
         substitute are only for cases where a symbol like 
         $1, $2 etc. must be followed by a space in the
         definition of one of the replacements above.

         These appear, so far, in abbreviation handling only,
         which uses the t code (hmmm, "t leaves" ...). E.g.:

         ≤tENIAC, Electronic Numerical Integrator And Computer≥
         --->
         ∫ENIAC∫ (Electronic Numerical Integrator And Computer)
  */ -}}

  {{ $theContent = replaceRE `TMPLT_LPAREN ` `(`  $theContent }}
  {{ $theContent = replaceRE `TMPLT_LPAREN` `(`  $theContent }}
  {{ $theContent = replaceRE ` TMPLT_RPAREN` `)`  $theContent }}
  {{ $theContent = replaceRE `TMPLT_RPAREN` `)`  $theContent }}
  {{ $theContent = replaceRE `TMPLT_DAGGER` `†` $theContent }}

  {{- /* cite.special-citation is not yet used anywhere:

    {{ $theContent = replaceRE `TMPLT_LSPECC ` ``  $theContent }}
    {{ $theContent = replaceRE ` TMPLT_RSPECC` ``  $theContent }}

  */ -}}

  {{- /* How will Gemtext display the RUBY element, if at all? TODO:

    {{ $theContent = replaceRE `TMPLT_LRUBY1 `
                             `<ruby>`  $theContent }}
    {{ $theContent = replaceRE ` TMPLT_RRUBY1`
                             `</ruby>`  $theContent }}
    {{ $theContent = replaceRE `TMPLT_LRUBYT `
                             `<rt>`  $theContent }}
    {{ $theContent = replaceRE ` TMPLT_RRUBYT`
                             `</rt>`  $theContent }}

  */ -}}

  {{- /* NOT APPEARING AT ALL IN .gmi OUTPUT:

      {{ $theContent = replaceRE `TMPLT_RSQBKT` `]`  $theContent }}
      {{ $theContent = replaceRE `TMPLT_LSQBKT` `[`  $theContent }}
      {{ $theContent = replaceRE `TMPLT_RSNGQA` `<span class="apost-rsquo">’</span><span class="apost-apost">'</span>`  $theContent }}
      {{ $theContent = replaceRE `TMPLT_LSNGQA` `‘`  $theContent }}
      {{ $theContent = replaceRE `TMPLT_LDBLQA` `“`  $theContent }}
      {{ $theContent = replaceRE `TMPLT_RDBLQA` `”`  $theContent }}
      {{ $theContent = replaceRE `TMPLT_LSMPLQ ` `<q>`  $theContent }}
      {{ $theContent = replaceRE ` TMPLT_RSMPLQ` `</q>`  $theContent }}
      {{ $theContent = replaceRE `TMPLT_LDGUIL ` `<q>`  $theContent }}
      {{ $theContent = replaceRE `TMPLT_LDGUIL` `<q>`  $theContent }}
      {{ $theContent = replaceRE ` TMPLT_RDGUIL` `</q>`  $theContent }}
      {{ $theContent = replaceRE `TMPLT_RDGUIL` `</q>`  $theContent }}
      {{ $theContent = replaceRE `TMPLT_LSGUIL` `<q>`  $theContent }}
      {{ $theContent = replaceRE `TMPLT_RSGUIL` `</q>`  $theContent }}

  */ -}}

{{ end }}
{{ return $theContent }}