{{ $classifier := .letter }}
{{ $the_content := .leaf_text }}

{{ $content_replacement := "YOU WONT SEE THIS" }}
{{ $result := "THIS SHOULD BE CLOBBERED" }}
{{ $the_ruby_text := "ERR!" }}

{{- /* ====================

       This partial template, lettered-leaf.html, processes each inline-level
       "lettered string" (e.g. "≤fboulangerie≥" or "≤bCanterbury Tales≥") by 
       replacing its opening and closing markers (e.g. "≤f", "≤b", "≥") with
       placeholders. 

       These placeholders, which typically start with "TMPLT_", exist to ensure
       safe handling in some later templates. They will later be replaced by
       the HTML inline-level elements that "best" match the purpose of the
       original "lettered string". Currently these are SPAN, CITE, and I,
       always with a class attribute. A space is often included to workaround
       certain bugs.

       (In the future, maybe also EM, Q, STRONG, or B -- but not A, because
       links are handled with block-level transformations instead of 
       inline-level.)

       For example,

           ≤fboulangerie≥ 

       is eventually replaced by

           <i class="foreign">boulangerie</i>

       and

           ≤bMoby Dick≥

       is eventually replaced by

           <cite class="book-title">Moby Dick</cite>

       The HTML element tags don't appear in this template. Instead, e.g.,
       " TMPLT_RLOGIC" is used as a placeholder for "</i>", and it isn't
       replaced with "</i>" until another template, lettered-escapade.html, is
       called toward the end of the processing.

       When an inline-level "lettered string" is processed here, it is a leaf,
       which means that it doesn't contain any nested lettered strings. This is
       enforced in the template that calls this one, prefixed-or-lettered.html.

       Current codes for lettered strings: a b c e f l m n q r s t w

       Currently unused: <cite class="special-citation">...</cite>
         {{ $result = (add 
             `TMPLT_LSPECC ` 
             $the_content 
             ` TMPLT_RSPECC`
             ) 
         }}
       ====================
*/ -}}

{{ if (eq $classifier "a") }}
{{- /* CASE a: For the typically quoted title/headline of an article or whitepaper.

       Article titles that are in 4-hash headings are inferred via regexps 
       in the partial template named prefixed-blocks.html, but other
       references to them require ≤a ... ≥ (e.g., the 2nd occurrence of
       the article «Three Theories That Explain This Strange Moment».)

       ≤Mayor Smith Resigns≥
       --->
       <cite class="article-title">Mayor Smith Resigns</cite>

*/ -}}
  {{ $result = (add 
      `TMPLT_LATITL ` 
      $the_content 
      ` TMPLT_RATITL`
      ) 
  }}
{{ else if (eq $classifier "b") }}
{{- /* CASE b: For the typically italicized title/name of a book (or
       manuscript like My Ladye Nevells Booke).

       ≤bMoby Dick≥ ---> <cite class="book-title">Moby Dick</cite>

*/ -}}
  {{ $result = (add 
      `TMPLT_LBTITL ` 
      $the_content 
      ` TMPLT_RBTITL`
      ) 
  }}
{{ else if (eq $classifier "c") }}
{{- /* CASE c: For the typically quoted title/name of an akin-to-an-article item, e.g. a chapter, course, or song

         ... one of Chaucer’s ≤bCanterbury Tales≥, ≤cThe Reeve’s Tale≥. ...

         becomes <cite class="like-article-title"> ...

"Course names are capitalized but not italicized or in quotes." -- https://www.swarthmore.edu/communications-office/editorial-style-guide. But NYT uses quotation marks apparently. In the following example, the NYT uses "class" in the sense of "high school or college course":

         `... a class, ≤cThe Problem of Whiteness≥, and ...`

*/ -}}
  {{ $result = (add 
      `TMPLT_LCTITL ` 
      $the_content 
      ` TMPLT_RCTITL`
      ) 
  }}
{{ else if (eq $classifier "e") }}
{{- /* CASE e: An epigram (adage, aphorism, apothegm, maxim, motto, proverb), but ONLY when not quoting anyone in particular (otherwise it'd be simply a quotation, or part of a quotation); e.g.

         `... in ≤aHow ≤eI despise, therefore I am≥ locks in the political status quo≥, 2023-04-12`
         --->
         `... How <cite class="epigram">...</cite> locks ...`
*/ -}}
  {{ $result = (add 
      `TMPLT_LEPIGM ` 
      $the_content 
      ` TMPLT_REPIGM`
      ) 
  }}
{{ else if (eq $classifier "f") }}
{{- /* CASE f (for FOREIGN): unassimilated foreign word, questionable (or self-consciously used) term, word-as-word, synonym, e.g.

       ≤fboulangerie≥ ---> <i class="foreign">boulangerie</i>

*/ -}}
  {{ $result = (add 
      `TMPLT_LFREGN ` 
      $the_content 
      ` TMPLT_RFREGN`
      ) 
  }}
{{ else if (eq $classifier "l") }}
{{- /* CASE l: logical statements, e.g.

       ≤lWhite hair causes old age.≥ ---> <i class="logic">White hair causes old age.</i>

*/ -}}
  {{ $result = (add 
      `TMPLT_LLOGIC ` 
      $the_content 
      ` TMPLT_RLOGIC`
      ) 
  }}
{{ else if (eq $classifier "m") }}
{{- /* CASE m: For names of media outlets

         ... of ≤mNBC Out≥, an ...

*/ -}}
  {{ $result = (add 
      `TMPLT_LMTITL ` 
      $the_content 
      ` TMPLT_RMTITL`
      ) 
  }}
{{ else if (eq $classifier "n") }}
{{- /* CASE n: nicknames, e.g.

       Mary Frances ≤nFrancky≥ Knapp
       --->
       Mary Frances <i class="nickname">Francky</i> Knapp

*/ -}}
  {{ $result = (add 
      `TMPLT_LNIKNM ` 
      $the_content 
      ` TMPLT_RNIKNM`
      ) 
  }}


{{- /* COMMENTED OUT, USING « & » (and, when nested, ‹ & ›) INSTEAD

       CASE q: simple direct quotations belonging to no other kind
{{ else if (eq $classifier "q") }}
  {{ $result = (add 
      `TMPLT_LSMPLQ ` 
      $the_content 
      ` TMPLT_RSMPLQ`
      ) 
  }}

*/ -}}


{{ else if (eq $classifier "r") }}
{{- /* CASE r: the RUBY & RT elements, using /i18n/art-x-rubellite.yaml

       This case can be removed once the ruby effect is applied automatically.
*/ -}}
  {{ range first 1 (where hugo.Data.rubellite.phonetic "k" $the_content) }}
    {{ $the_ruby_text = .v }}
  {{ end }}
  {{ $result = (add 
      `TMPLT_LRUBY1 `
      $the_content 
      `TMPLT_LRUBYT `
      $the_ruby_text
      ` TMPLT_RRUBYT`
      ` TMPLT_RRUBY1`
      ) 
  }}
{{ else if (eq $classifier "s") }}
{{- /* CASE s: terms that are so-called, e.g.

       ≤sBad≥ ---> <i class="so-called">Bad</i>

       ... thinks our system is ≤srotten≥. Trump thinks Putin is a ≤sgenius≥ ...

*/ -}}
  {{ $result = (add 
      `TMPLT_LSOCLD ` 
      $the_content 
      ` TMPLT_RSOCLD`
      ) 
  }}
{{ else if (eq $classifier "t") }}
{{- /* CASE t: abbreviations (t stands for technical & terminology), e.g.

       ≤tENIAC, Electronic Numerical Integrator And Computer≥ ---> <abbr>ENIAC</abbr> (Electronic Numerical Integrator And Computer)

       definitions are not yet handled; see HTML element DFN

*/ -}}
  {{ $content_replacement =
      replaceRE 
      `([^ ,≥]+), ([^≥]+)`
      `TMPLT_LABBRV $1 TMPLT_RABBRV TMPLT_LPAREN $2 TMPLT_RPAREN`
      $the_content
  }}
  {{ $result = $content_replacement }}
{{ else if (eq $classifier "w") }}
{{- /* CASE w: For the typically italicized title/name of an akin-to-a-book WORK, e.g. film title, album title, magazine title, newspaper (but ... always?!) title. So some are series (periodicals) and some aren't. a is to c as b is to w:

       a (article-title) : c (like-article-title)
       ::
       b (book-title)    : w (like-book-title)

       ≤wRubber Soul≥ ---> <cite class="like-book-title">Rubber Soul</cite>

       TODO: like-book-title ---> magazine-title, lp-title, film-title, artwork-title etc.

       ... episode of the CNN [series] ≤wNomad≥. ...

       ≤wBlack Mountain College: A Thumbnail Sketch≥ is a 13-minute documentary ...

*/ -}}
  {{ $result = (add 
      `TMPLT_LWTITL ` 
      $the_content 
      ` TMPLT_RWTITL`
      ) 
  }}
{{ else }}
  {{ $result = (add "ZZZZZ Unknown classifier! " $classifier "ZZZZZ") }}
{{ end }}
{{ return $result }}
