{{ $leftmostOpeningTag := .leftmost_opening_tag }}
{{ $prefix := .prefix }}
{{ $text := .text }}
{{ $rightmostClosingTag := .rightmost_closing_tag }}
{{ $mostRecentLinkTitle := .mRLT }}

{{ $result := "OVERWRITTEN" }}


{{- /*
{{ if (strings.Contains $text "Consciousness") }}
  {{ warnidf "prefixed-blocks-008" (add 
    "mRLT: " $mostRecentLinkTitle
    " leftmostOpeningTag:[" $leftmostOpeningTag "]"
    " prefix:[" $prefix "]"
    " text:[" $text "]"
    " rightmostClosingTag:[" $rightmostClosingTag "]"
    ) 
  }}
{{ end }}
*/ -}}

{{- /* Blockquotes no longer have an entry here because Goldmark handles them OK. See
       https://yuin.github.io/goldmark/playground/

       ^> "..." ---> <blockquote>
*/ -}}
{{ if (eq $prefix "®") }}
  {{ if (partial "whole-str-matches-regex" (dict 
      "pattern" `(.+), writing in (.+) TMPLT_LPAREN([12][0-9][0-9][0-9])TMPLT_RPAREN under the headline TMPLT_LDGUIL(.+)TMPLT_RDGUIL` 
      "text" $text)) 
  }}
    {{- /* CASE ®-a: For my 4-hashes clipping from an article or (rarely) whitepaper, e.g.

         #### ® Blake Gopnik, writing in NYT (2021) under the headline «Who Said Art Is Only for the One Percent?»

    */ -}}
    {{ $text = 
        replaceRE
       `(.+), writing in (.+) TMPLT_LPAREN([12][0-9][0-9][0-9])TMPLT_RPAREN under the headline TMPLT_LDGUIL(.+)TMPLT_RDGUIL`
       `$1, writing in $2 TMPLT_LPAREN $3 TMPLT_RPAREN under the headline TMPLT_LDGUIL $4 TMPLT_RDGUIL`
        $text
    }}
    {{ $result = (add $leftmostOpeningTag $text $rightmostClosingTag) }}
  {{ else if (partial "whole-str-matches-regex" (dict 
      "pattern" `Published by (.+) TMPLT_LPAREN([12][0-9][0-9][0-9])TMPLT_RPAREN: TMPLT_LDGUIL(.+)TMPLT_RDGUIL` 
      "text" $text)) 
  }}
    {{- /* CASE ®-p: For my 4-hashes clipping from an authorless press release, e.g.

         #### ® Published by Pew Research Center (2016): «Ideological Gap Widens Between More, Less Educated Adults»

    */ -}}
    {{ $text = 
        replaceRE
       `Published by (.+) TMPLT_LPAREN([12][0-9][0-9][0-9])TMPLT_RPAREN: TMPLT_LDGUIL(.+)TMPLT_RDGUIL`
       `Published by $1 TMPLT_LPAREN $2 TMPLT_RPAREN: TMPLT_LDGUIL $3 TMPLT_RDGUIL`
        $text
    }}
    {{ $result = (add $leftmostOpeningTag $text $rightmostClosingTag) }}
  {{ else if (partial "whole-str-matches-regex" (dict 
      "pattern" `Source: TMPLT_LDGUIL(.+)TMPLT_RDGUIL by (.+)` 
      "text" $text)) 
  }}
    {{- /* CASE ®-metcit-a: For a 5-hashes meta-citation of an article or whitepaper, e.g.

         ##### ® Source: «Rural America Lost Population Over the Past Decade for the First Time in History» by Kenneth Johnson

    */ -}}
    {{ $text = 
        replaceRE
       `Source: TMPLT_LDGUIL(.+)TMPLT_RDGUIL by (.+)`
       `Source: TMPLT_LDGUIL $1 TMPLT_RDGUIL by $2`
        $text
    }}
    {{ $result = (add $leftmostOpeningTag $text $rightmostClosingTag) }}
  {{ else if (partial "whole-str-matches-regex" (dict 
      "pattern" `Source: ≤b([^_]+)≥ by (.+)` 
      "text" $text)) 
  }}
    {{- /* CASE ®-metcit-b: For a 5-hashes meta-citation of a book, e.g.

         ##### ® Source: ≤bRed Fighting Blue: How Geography and Electoral Rules Polarize American Politics≥ by David A. Hopkins

         Underscores will have been converted (before this runs) into <em>...</em>, so use ≤b...≥ instead.

    */ -}}
    {{ $text = 
        replaceRE
       `Source: ≤b([^_]+)≥ by (.+)`
       `Source: <cite class="book-title">$1</cite> by $2`
        $text
    }}
    {{ $result = (add $leftmostOpeningTag $text $rightmostClosingTag) }}
  {{ else if (partial "whole-str-matches-regex" (dict 
      "pattern" `Source: Wikipedia, TMPLT_LDGUIL(.+)TMPLT_RDGUIL` 
      "text" $text)) 
  }}
    {{- /* CASE ®-wikp: For my 5-hashes citation of Wikipedia, AND not followed by a quotation from the body, e.g.

         ##### ® Source: Wikipedia, «Cotton Tree (Sierra Leone)»

    */ -}}
    {{ $text = 
        replaceRE
       `Source: Wikipedia, TMPLT_LDGUIL(.+)TMPLT_RDGUIL`
       `Source: Wikipedia, TMPLT_LDGUIL $1 TMPLT_RDGUIL`
        $text
    }}
    {{ $result = (add $leftmostOpeningTag $text $rightmostClosingTag) }}
  {{ else if (partial "whole-str-matches-regex" (dict 
      "pattern" `Source: (.+), TMPLT_LDGUIL(.+)TMPLT_RDGUIL by (.+)` 
      "text" $text)) 
  }}
    {{- /* CASE @-bare: For my 5-hashes citation of typical reportage, but not followed by a quotation from the body, e.g.

         ##### ® Source: BBC, «Sierra Leone’s iconic cotton tree felled by storm» by Umaru Fofana (in Freetown) & Robert Greenall (in London)

    */ -}}
    {{ $text = 
        replaceRE
       `Source: (.+), TMPLT_LDGUIL(.+)TMPLT_RDGUIL by (.+)`
       `Source: $1, TMPLT_LDGUIL $2 TMPLT_RDGUIL by $3`
        $text
    }}
    {{ $result = (add $leftmostOpeningTag $text $rightmostClosingTag) }}
  {{ end }}
{{ else if (eq $prefix "¢") }}
  {{- /* CASE ¢: "^¢ " replaced "^~ " for my commentary */ -}}
  {{ $text = 
      replaceRE
     `(.+)`
     `<div class="commentary">$1</div>`
      $text
  }}
  {{ $result = (add $leftmostOpeningTag $text $rightmostClosingTag) }}
{{ else if (eq $prefix "∂") }}
  {{- /* CASE ∂: Periodical deks (subheadlines), e.g.

       ^dek: "The subhead, or dek, of the magazine article goes here"
       --->
       ^∂ "..."

  */ -}}
  {{ $result = (add `<div class="dek">` $text ` TMPLT_2HYFNS the subheadline</div>`) }}
{{ else if (eq $prefix "=&gt;") }}
  {{ if (partial "whole-str-matches-regex" (dict "pattern" `(<a href="https://.+</a>) (.+) / by (.+)` "text" $text)) }}
    {{ $result = 
        replaceRE
       `(<a href="https://.+</a>) (.+) / by (.+)`
       `<div class="url-line">TMPLT_NORTHEAST_ARROW $1 TMPLT_2HYFNS by $3, $2</div>`
        $text
    }}
  {{ else if (partial "whole-str-matches-regex" (dict "pattern" `(<a href="https://.+</a>) (.+)` "text" $text)) }}
    {{ $result = 
        replaceRE
       `(<a href="https://.+</a>) (.+)`
       `<div class="url-line">TMPLT_NORTHEAST_ARROW $1 TMPLT_2HYFNS from $2</div>`
        $text
    }}
  {{ else if (partial "whole-str-matches-regex" (dict "pattern" `(<a href="https://.+</a>)` "text" $text)) }}
    {{ $result = 
        replaceRE
       `(<a href="https://.+</a>)`
       `<div class="url-line">TMPLT_NORTHEAST_ARROW $1</div>`
        $text
    }}
  {{ end }}
  {{ $imageNortheastArrow := resources.Get "images/link-external-small-ltr-progressive.svg" }}
  {{ $theImgElement := print "<img src=\"" $imageNortheastArrow.RelPermalink "\" width=\"12px\" height=\"12px\" vertical-align=\"bottom\" alt=\"(An external link.)\">" }}
  {{ $result = 
      replaceRE 
     `TMPLT_NORTHEAST_ARROW`
      $theImgElement
      $result
  }}
{{ else if (eq $prefix "◉") }}
  {{- /* This is found below CASES a1 and a2 only: */ -}}
  {{ $text = 
      replaceRE
     `Bookmark, ([JFMASOND][aepuco][nbrynlgptvc]) ([0-9stndrh]+)`
     `<div class="fisheye-means-rightmost">Bookmark, $1 $2&nbsp;</div>`
      $text
  }}
  {{- /* I used to put a <p></p> after the closing div tag, above */ -}}
  {{ $result = $text }}
{{ end }}

{{ return $result }}