{{ $leftmostOpeningTag := .leftmost_opening_tag }}
{{ $prefix := .prefix }}
{{ $text := .text }}
{{ $rightmostClosingTag := .rightmost_closing_tag }}
{{ $mostRecentLinkTitle := .mRLT }}

{{ $rubellitedText := "ERR! 504" }}
{{ $result := "ERR! Do all deks have guillemets?" }}

{{- /* ====================
       Currently handled prefixes: £ ££ ~ ® ¢ =&gt; ∂ ↗ ◉

       ®
       For my 4-hashes clipping from an article or (rarely) whitepaper
       For my 4-hashes clipping from an authorless press release
       For a 5-hashes meta-citation of an article or whitepaper
       For a 5-hashes meta-citation of a book
       For my 5-hashes citation of Wikipedia, AND not followed by a quotation from the body
       For my 5-hashes citation of typical reportage, but not followed by a quotation from the body

       "£" "££" "~"
       For blockquotes

       ====================
{{- /*


{{- /*
{{ if (or (strings.Contains $text "is his wont")
          (strings.Contains $text "low prices")) }}
  {{ warnidf "prefixed-blocks-008" (add 
    "mRLT: " $mostRecentLinkTitle
    " leftmostOpeningTag:[" $leftmostOpeningTag "]"
    " prefix:[" $prefix "]"
    " text:[" $text "]"
    " rightmostClosingTag:[" $rightmostClosingTag "]"
    ) 
  }}
{{ end }}
*/ -}}







{{ if (eq $prefix "®") }}
  {{ if (partial "whole-str-matches-regex" (dict 
      "pattern" `(.+), writing in (.+) TMPLT_LPAREN([12][0-9][0-9][0-9])TMPLT_RPAREN under the headline TMPLT_LDGUIL(.+)TMPLT_RDGUIL` 
      "text" $text)) 
  }}
    {{- /* CASE ®-a: For my 4-hashes clipping from an article or (rarely) whitepaper, e.g.

         #### ® Blake Gopnik, writing in NYT (2021) under the headline «Who Said Art Is Only for the One Percent?»

    */ -}}
    {{ $text = 
        replaceRE
       `(.+), writing in (.+) TMPLT_LPAREN([12][0-9][0-9][0-9])TMPLT_RPAREN under the headline TMPLT_LDGUIL(.+)TMPLT_RDGUIL`
       `$1, writing in $2 TMPLT_LPAREN $3 TMPLT_RPAREN under the headline TMPLT_LATITL $4 TMPLT_RATITL`
        $text
    }}
    {{ $result = (add $leftmostOpeningTag $text $rightmostClosingTag) }}
  {{ else if (partial "whole-str-matches-regex" (dict 
      "pattern" `Published by (.+) TMPLT_LPAREN([12][0-9][0-9][0-9])TMPLT_RPAREN: TMPLT_LDGUIL(.+)TMPLT_RDGUIL` 
      "text" $text)) 
  }}
    {{- /* CASE ®-p: For my 4-hashes clipping from an authorless press release, e.g.

         #### ® Published by Pew Research Center (2016): «Ideological Gap Widens Between More, Less Educated Adults»

    */ -}}
    {{ $text = 
        replaceRE
       `Published by (.+) TMPLT_LPAREN([12][0-9][0-9][0-9])TMPLT_RPAREN: TMPLT_LDGUIL(.+)TMPLT_RDGUIL`
       `Published by $1 TMPLT_LPAREN $2 TMPLT_RPAREN: TMPLT_LATITL $3 TMPLT_RATITL`
        $text
    }}
    {{ $result = (add $leftmostOpeningTag $text $rightmostClosingTag) }}
  {{ else if (partial "whole-str-matches-regex" (dict 
      "pattern" `Source: TMPLT_LDGUIL(.+)TMPLT_RDGUIL by (.+)` 
      "text" $text)) 
  }}
    {{- /* CASE ®-metcit-a: For a 5-hashes meta-citation of an article or whitepaper, e.g.

         ##### ® Source: «Rural America Lost Population Over the Past Decade for the First Time in History» by Kenneth Johnson

    */ -}}
    {{ $text = 
        replaceRE
       `Source: TMPLT_LDGUIL(.+)TMPLT_RDGUIL by (.+)`
       `Source: TMPLT_LATITL $1 TMPLT_RATITL by $2`
        $text
    }}
    {{ $result = (add $leftmostOpeningTag $text $rightmostClosingTag) }}
  {{ else if (partial "whole-str-matches-regex" (dict 
      "pattern" `Source: ≤b([^_]+)≥ by (.+)` 
      "text" $text)) 
  }}
    {{- /* CASE ®-metcit-b: For a 5-hashes meta-citation of a book, e.g.

         ##### ® Source: ≤bRed Fighting Blue: How Geography and Electoral Rules Polarize American Politics≥ by David A. Hopkins

         Underscores will have been converted (before this runs) into <em>...</em>, so use ≤b...≥ instead.

    */ -}}
    {{ $text = 
        replaceRE
       `Source: ≤b([^_]+)≥ by (.+)`
       `Source: TMPLT_LBTITL $1 TMPLT_RBTITL by $2`
        $text
    }}
    {{ $result = (add $leftmostOpeningTag $text $rightmostClosingTag) }}
  {{ else if (partial "whole-str-matches-regex" (dict 
      "pattern" `Source: Wikipedia, TMPLT_LDGUIL(.+)TMPLT_RDGUIL` 
      "text" $text)) 
  }}
    {{- /* CASE ®-wikp: For my 5-hashes citation of Wikipedia, AND not followed by a quotation from the body, e.g.

         ##### ® Source: Wikipedia, «Cotton Tree (Sierra Leone)»

    */ -}}
    {{ $text = 
        replaceRE
       `Source: Wikipedia, TMPLT_LDGUIL(.+)TMPLT_RDGUIL`
       `Source: Wikipedia, TMPLT_LATITL $1 TMPLT_RATITL`
        $text
    }}
    {{ $result = (add $leftmostOpeningTag $text $rightmostClosingTag) }}
  {{ else if (partial "whole-str-matches-regex" (dict 
      "pattern" `Source: (.+), TMPLT_LDGUIL(.+)TMPLT_RDGUIL by (.+)` 
      "text" $text)) 
  }}
    {{- /* CASE ®-bare: For my 5-hashes citation of typical reportage, but not followed by a quotation from the body, e.g.

         ##### ® Source: BBC, «Sierra Leone’s iconic cotton tree felled by storm» by Umaru Fofana (in Freetown) & Robert Greenall (in London)

    */ -}}
    {{ $text = 
        replaceRE
       `Source: (.+), TMPLT_LDGUIL(.+)TMPLT_RDGUIL by (.+)`
       `Source: $1, TMPLT_LATITL $2 TMPLT_RATITL by $3`
        $text
    }}
    {{ $result = (add $leftmostOpeningTag $text $rightmostClosingTag) }}
  {{ end }}
{{ else if (eq $prefix "£") }}
  {{- /* Blockquotes: idiosyncratic, uses "£", "££", & "~"

       Goldmark handles them OK[1], but I've resumed idiosyncratic handling 
       of blockquotes for more fine-grained control.

       [1] See https://yuin.github.io/goldmark/playground/

       Goldmark transforms the following 3-line stretch of greater-than signs:

              > "..." [quotation marks optional, but preserved]
              >
              > -- William Cobbett

       into the following 4-line stretch of HTML:

              <blockquote>
              <p>...</p>
              <p>-- William Cobbett</p>
              </blockquote>

       But I've started using a FIGURE-based pattern[2] as follows:

              £ I will not garble, misquote, and belie him, as he garbled, misquoted, and belied them.

              ££ Subsequent paragraphs use a double-sterling. I'll call it that to avoid confusion with the ... uhhh ... the octothorpe.

              ££ The End.

              ~ William Cobbett

       [2] See https://heydonworks.com/article/the-blockquote-element/

       p.s. Can't use ">" in place of "£" or "££", because it will trigger
            Goldmark blockquote wrapping & ruin the FIGURE-based pattern.

  */ -}}
  {{ $rubellitedText = (partial "apply-ruby-features.html"
      (dict "the_content" $text "full_or_light" "light" "mRLT" $mostRecentLinkTitle)) 
  }}
  {{ $result = (add `<figure><blockquote><p>` $rubellitedText `</p>`) }}
{{ else if (eq $prefix "££") }}
  {{ $rubellitedText = (partial "apply-ruby-features.html"
      (dict "the_content" $text "full_or_light" "light" "mRLT" $mostRecentLinkTitle)) 
  }}
  {{ $result = (add `<p>` $rubellitedText `</p>`) }}
{{ else if (eq $prefix "~") }}
  {{ $rubellitedText = (partial "apply-ruby-features.html"
      (dict "the_content" $text "full_or_light" "light" "mRLT" $mostRecentLinkTitle)) 
  }}
  {{ $result = (add `</blockquote><figcaption>TMPLT_2HYFNS ` $rubellitedText `</figcaption></figure>`) }}
{{ else if (eq $prefix "¢") }}



{{- /*
{{ if (or (strings.Contains $text "is his wont")
          (strings.Contains $text "low prices")) }}
  {{ warnidf "prefixed-blocks-penny" (add 
    "mRLT: " $mostRecentLinkTitle
    " leftmostOpeningTag:[" $leftmostOpeningTag "]"
    " prefix:[" $prefix "]"
    " text:[" $text "]"
    " rightmostClosingTag:[" $rightmostClosingTag "]"
    ) 
  }}
{{ end }}
*/ -}}



  {{- /* CASE ¢: "^¢ " replaced "^~ " for my commentary 

  replacing
      `<div class="commentary"><p>$1</p></div>`
  with
      `<p class="commentary">$1</p>`
  did NOT eliminate the 74 occurrences of the erroneous <p><div ... </div></p>
  it just changed them to <p><p class="commentary"> ... </p></p>

  */ -}}
  {{ $text = 
      replaceRE
     `(.+)`
     `<p class="commentary">$1</p>`
      $text
  }}
  {{ $rubellitedText = (partial "apply-ruby-features.html"
      (dict "the_content" $text "full_or_light" "light" "mRLT" $mostRecentLinkTitle)) 
  }}
  {{ $result = (add $leftmostOpeningTag $rubellitedText $rightmostClosingTag) }}
{{ else if (eq $prefix "∂") }}
  {{ if (partial "whole-str-matches-regex" (dict 
      "pattern" `TMPLT_LDGUIL(.+)TMPLT_RDGUIL` 
      "text" $text)) 
  }}

    {{- /* CASE ∂: Periodical deks (subheadlines), e.g.

         ^∂ «The subhead, or dek, of the magazine article goes here»
         --->TMPLT_LATITL $1 TMPLT_RATITL

         This is an unusual case because deks are always bracketed by
         guillemets. So, we can remove them with the substr function 
         rather than needing to call replaceRE:
    */ -}}
    {{ $text = (substr $text 12 -12) }}
    {{ $rubellitedText = (partial "apply-ruby-features.html"
        (dict "the_content" $text "full_or_light" "light" "mRLT" $mostRecentLinkTitle)) 
    }}
    {{ $result = (add `<div class="dek">Its subheadline: TMPLT_LATITL ` $rubellitedText ` TMPLT_RATITL</div>`) }}

  {{ end }}
{{ else if (eq $prefix "↗") }}
  {- /* Use only for https:// (and omit that prefix) */ -}}
  {{ $text = 
      replaceRE
     `(.+)`
     `<div class="url-line">TMPLT_NORTHEAST_ARROW $1</div>`
      $text
  }}
  {{ $result = $text }}
  {{ $imageNortheastArrow := resources.Get "images/link-external-small-ltr-progressive.svg" }}
  {{ $theImgElement := print "<img src=\"" $imageNortheastArrow.RelPermalink "\" width=\"12px\" height=\"12px\" vertical-align=\"bottom\" alt=\"(An external link.)\">" }}
  {{ $result = 
      replaceRE 
     `TMPLT_NORTHEAST_ARROW`
      $theImgElement
      $result
  }}
{{ else if (eq $prefix "=&gt;") }}
  {{ if (partial "whole-str-matches-regex" (dict "pattern" `(<a href="https://.+</a>) (.+) / by (.+)` "text" $text)) }}
    {{ $result = 
        replaceRE
       `(<a href="https://.+</a>) (.+) / by (.+)`
       `<div class="url-line">TMPLT_NORTHEAST_ARROW $1 TMPLT_2HYFNS by $3, $2</div>`
        $text
    }}
  {{ else if (partial "whole-str-matches-regex" (dict "pattern" `(<a href="https://.+</a>) (.+)` "text" $text)) }}
    {{ $result = 
        replaceRE
       `(<a href="https://.+</a>) (.+)`
       `<div class="url-line">TMPLT_NORTHEAST_ARROW $1 TMPLT_2HYFNS from $2</div>`
        $text
    }}
  {{ else if (partial "whole-str-matches-regex" (dict "pattern" `(<a href="https://.+</a>)` "text" $text)) }}
    {{ $result = 
        replaceRE
       `(<a href="https://.+</a>)`
       `<div class="url-line">TMPLT_NORTHEAST_ARROW $1</div>`
        $text
    }}
  {{ end }}
  {{ $imageNortheastArrow := resources.Get "images/link-external-small-ltr-progressive.svg" }}
  {{ $theImgElement := print "<img src=\"" $imageNortheastArrow.RelPermalink "\" width=\"12px\" height=\"12px\" vertical-align=\"bottom\" alt=\"(An external link.)\">" }}
  {{ $result = 
      replaceRE 
     `TMPLT_NORTHEAST_ARROW`
      $theImgElement
      $result
  }}
{{ else if (eq $prefix "◉") }}
  {{- /* This is found below CASES a1 and a2 only: */ -}}
  {{ $text = 
      replaceRE
     `Bookmark, ([JFMASOND][aepuco][nbrynlgptvc]) ([0-9stndrh]+)`
     `<div class="fisheye-means-rightmost">Bookmark, $1 $2&nbsp;</div>`
      $text
  }}
  {{- /* I used to put a <p></p> after the closing div tag, above */ -}}
  {{ $result = $text }}
{{ end }}

{{ return $result }}