{{ $leftmostOpeningTag := .leftmost_opening_tag }}
{{ $prefix := .prefix }}
{{ $text := .text }}
{{ $rightmostClosingTag := .rightmost_closing_tag }}

{{ $result := "OVERWRITTEN" }}

{{ warnidf "prefixed-blocks-008" (add 
  "leftmostOpeningTag:[" $leftmostOpeningTag "]"
  "prefix:[" $prefix "]"
  "rightmostClosingTag:[" $rightmostClosingTag "]"
  ) 
}}
{{ if (eq $prefix "®") }}
  {{ if (partial "whole-str-matches-regex" (dict "pattern" `Source: TMPLT_LDGUIL(.+)TMPLT_RDGUIL by (.+)` "text" $text)) }}
    {{- /* WAS CASE a3 ... needs new case name: meta-citation of whitepaper, e.g.

         ##### ≤aSource: «Rural America Lost Population Over the Past Decade for the First Time in History» by Kenneth Johnson≥

    */ -}}
    {{ $text = 
        replaceRE
       `Source: TMPLT_LDGUIL(.+)TMPLT_RDGUIL by (.+)`
       `Source: TMPLT_LDGUIL $1 TMPLT_RDGUIL by $2`
        $text
    }}
    {{ $result = (add $leftmostOpeningTag $text $rightmostClosingTag) }}
  {{ end }}
{{ else if (eq $prefix "~") }}
  {{ $result = 
      replaceRE
     `(.+)`
     `<div class="commentary">$1</div>`
      $text
  }}
{{ else if (eq $prefix "=&gt;") }}
  {{ if (partial "whole-str-matches-regex" (dict "pattern" `(<a href="https://.+</a>) (.+) / by (.+)` "text" $text)) }}
    {{ $result = 
        replaceRE
       `(<a href="https://.+</a>) (.+) / by (.+)`
       `<div class="url-line">TMPLT_NORTHEAST_ARROW $1 TMPLT_2HYFNS by $3, $2</div>`
        $text
    }}
  {{ else if (partial "whole-str-matches-regex" (dict "pattern" `(<a href="https://.+</a>) (.+)` "text" $text)) }}
    {{ $result = 
        replaceRE
       `(<a href="https://.+</a>) (.+)`
       `<div class="url-line">TMPLT_NORTHEAST_ARROW $1 TMPLT_2HYFNS from $2</div>`
        $text
    }}
  {{ else if (partial "whole-str-matches-regex" (dict "pattern" `(<a href="https://.+</a>)` "text" $text)) }}
    {{ $result = 
        replaceRE
       `(<a href="https://.+</a>)`
       `<div class="url-line">TMPLT_NORTHEAST_ARROW $1</div>`
        $text
    }}
  {{ end }}
  {{ $imageNortheastArrow := resources.Get "images/link-external-small-ltr-progressive.svg" }}
  {{ $theImgElement := print "<img src=\"" $imageNortheastArrow.RelPermalink "\" width=\"12px\" height=\"12px\" vertical-align=\"bottom\" alt=\"(An external link.)\">" }}
  {{ $result = 
      replaceRE 
     `TMPLT_NORTHEAST_ARROW`
      $theImgElement
      $result
  }}
{{ else if (eq $prefix "◉") }}
  {{- /* This is found below CASES a1 and a2 only: */ -}}
  {{ $text = 
      replaceRE
     `<p>◉ Bookmark, ([JFMASOND][aepuco][nbrynlgptvc]) ([0-9stndrh]+)</p>`
     `<div class="fisheye-means-rightmost">Bookmark, $1 $2&nbsp;</div>`
      $text
  }}
  {{- /* I used to put a <p></p> after the closing div tag, above */ -}}
  {{ $result = (add $leftmostOpeningTag $text $rightmostClosingTag) }}
{{ end }}

{{ return $result }}