{{ $allText := .the_content }}
{{ $mostRecentLinkTitle := .mRLT }}

{{- /* 

12345678901234567890123456789012345forty1234567890123456789012345678901234eighty

====================
       STEP I.

       Process all prefixed blocks by calling the partial: prefixed-blocks.html
       ====================
*/ -}}

  {{- /* ~ ~ ~ ~ ~
         Step I.A.

         Collect all the headline blocks
         ~ ~ ~ ~ ~
  */ -}}

  {{ $regexpMatchingHeadlineBlocks := 
      `<h[1-5][^>]*>[
]?.+</h[1-5]>` 
  }}
  {{ $allHeadlineBlocks := 
      findRE $regexpMatchingHeadlineBlocks $allText 
  }}

{{- /*
  {{ range $allHeadlineBlocks }}
    {{ warnidf "page-61" (add "mRLT: " $mostRecentLinkTitle " H: " .) }} 
  {{ end }}
*/ -}}

  {{- /* ~ ~ ~ ~ ~
         Step I.B.

         Collect all the multi-block FIGURE/BLOCKQUOTE regions. This step must
         precede the collection of P blocks in general (step I.C.), because
         otherwise paragraph blocks within a single BLOCKQUOTE will be
         collected in a way that breaks the BLOCKQUOTE.
         ~ ~ ~ ~ ~
  */ -}}

{{- /*
  {{ $regexpMatchingMultiParagBlockquotes := 
      `<p>[
]?.+</p>` 
  }}
  {{ $allMultiParagBlockquotes := 
      findRE $regexpMatchingMultiParagBlockquotes $allText 
  }}
  {{ range $allMultiParagBlockquotes }}
    {{ $currentBlock := . }}
    {{ $allText = 
          replaceRE
          .
          (add `<blockquote>` . `</blockquote>`)
          $allText
    }}
  {{ end }}
*/ -}}

  {{- /* ~ ~ ~ ~ ~
         Step I.C.

         Collect all the remaining blocks
         ~ ~ ~ ~ ~
  */ -}}

  {{ $regexpMatchingParagBlocks := 
      `<p>[
]?.+</p>` 
  }}
  {{ $allParagBlocks := 
      findRE $regexpMatchingParagBlocks $allText 
  }}




{{- /*
  {{ range $allParagBlocks }}
    {{ if (and (eq "Anniversariez" $mostRecentLinkTitle)
               (eq "<p>¢ " (substr . 0 5))) }}
      {{ warnidf "page-71" (add "mRLT: " $mostRecentLinkTitle " P: " .) }}
    {{ end }}
  {{ end }}
*/ -}}




  {{ $allBlocks := append $allHeadlineBlocks $allParagBlocks 
  }}
  {{ range $allBlocks }}
    {{ $currentBlock := . }}
    {{ $leftmostOpeningTag := (add (index (split . ">") 0) ">") }}
    {{ $prefix := (index (split (index (split . ">") 1) " ") 0) }}
    {{ $meaningfulPrefixes := slice "£" "££" "~" "®" "¢" "∂" "=&gt;" "◉" }}
    {{ if (in $meaningfulPrefixes $prefix) }}
      {{ $textAndRightmostClosingTag := (index (split . (add $prefix " ")) 1) }}
      {{ $rightmostClosingTag := (add "<" (index (last 1 (split . "<")) 0)) }}
      {{ $text := (substr $textAndRightmostClosingTag 0 (mul -1 
                  (len $rightmostClosingTag)))
      }}





{{- /*
    {{ if (and (eq "<p>" $leftmostOpeningTag)
               (eq "¢" $prefix)) }}
      {{ warnidf "page-72" (add "leftmostOpeningTag: " $leftmostOpeningTag " prefix: " $prefix " P: " .) }}
    {{ end }}
*/ -}}


      {{ $processedBlock := (partial "prefixed-blocks.html" (dict 
          "leftmost_opening_tag" $leftmostOpeningTag
          "prefix" $prefix 
          "text" $text
          "rightmost_closing_tag" $rightmostClosingTag
          "mRLT" $mostRecentLinkTitle)) 
      }}

{{ $processedBlock = replaceRE `<p><p class="commentary">` `<p class="commentary">`  $processedBlock }}
{{ $processedBlock = replaceRE `</p></p>` `</p>`  $processedBlock }}


      {{ $allText = 
          replaceRE
          .
          $processedBlock
          $allText
      }}
    {{ end }}
  {{ end }}

{{- /* ====================
       STEP II.

       Process all delimitations by calling the partial: lettered-leaf.html
       ====================
*/ -}}

  {{ $regexpMatchingLeaves := `≤[^≤≥]+≥` }}
  {{ range seq 7 }}
    {{ $allLeaves := findRE $regexpMatchingLeaves $allText }}
    {{ range $allLeaves }}
      {{ $currentLeaf := . }}
      {{ $foundLetter := (substr . 1 1) }}
      {{ $leafText := (substr . 2 -1) }} 
      {{ $allText = 
          replaceRE 
          .
          (partial "lettered-leaf.html" 
            (dict "letter" $foundLetter "leaf_text" $leafText)
          )
          $allText
      }}
    {{ end }}
  {{ end }}

{{- /* ====================
       STEP III.

       UNUSED: Generate tags below each block-level delimitation by calling the
       partial: lettered-twig.html
       ====================
*/ -}}

{{- /*
  {{ $regexpMatchingTwigs := `≤.+≥` }}
  {{ $allTwigs := findRE $regexpMatchingTwigs $allText }}
  {{ range $allTwigs }}
    {{ $foundLetter := (substr . 1 1) }}
    {{ $twigContent := (substr . 2 -1) }}
    {{ $allText = 
        replaceRE 
        .
        (add
            .
            `<br/><p>`
            (cast.ToString (partial "lettered-twig.html" 
              (dict "letter" $foundLetter "twig_content" $twigContent)
            ))
            `</p>`
        )
        $allText
    }}
  {{ end }}
*/ -}}

{{ return $allText }}
