{{ $allText := .the_content }}
{{ $mostRecentLinkTitle := .mRLT }}

{{- /* ====================
       This partial template, process-in-sequence, handles all "idiosyncratic"
       markdown. The flow is as follows:

       | - - layouts/docket/page.html
       |
       | - - layouts/about.html
       |
       V
       process-in-sequence.html
         |
         | - - lettered-escapade.html
         |     Sanitizes hazardous chars & tags.
         |
         | - - prefixed-or-lettered.html
         |     |
         |     | - - prefixed-blocks.html
         |     |     Prepares the blocks by replacing guillemets etc.
         |     |     |
         |     |     | - - whole-str-matches-regex.html
         |     |           Returns >0 IFF exactly 1 match, & same length.
         |     |           (Prevents any trailing text from slipping through.)
         |     |
         |     | - - lettered-leaf.html
         |     |     Replaces ≤x ... ≥ with <span class=" ... </span>.
         |     |
         |     | - - lettered-twig.html
         |           A disabled counter.
         |
         | - - asterize-headlines.html
         |     Wraps each heading in asterisms.
         |
         | - - narrow-headlines.html
         |     Breaks each heading into 2 equal lengths.
         |
         | - - lettered-escapade.html
               Restores hazardous chars & tags.

       ====================
*/ -}}

  {{ warnidf "In process-in-sequence.html: " (add "LinkTitle = "
      $mostRecentLinkTitle) }}

  {{ $allText = (partial "lettered-escapade.html" 
      (dict "the_content" $allText "sanitize_or_restore" "sanitize")) }}

  {{ $allText = (partial "prefixed-or-lettered.html" 
      (dict "the_content" $allText "mRLT" $mostRecentLinkTitle)) }}

  {{ $allText = (partial "asterize-headlines.html" 
      (dict "the_content" $allText "debug_or_qa" "qa")) }}

  {{ $allText = (partial "narrow-headlines.html" 
      (dict "the_content" $allText "debug_or_qa" "qa")) }}

  {{ $allText = (partial "lettered-escapade.html" 
      (dict "the_content" $allText "sanitize_or_restore" "restore")) }}

{{ return $allText }}
