<div class="js-row-of-toggles">

    Hide IGT

    <div class="js-toggle-for-igt">

        <div class="js-toggle-oblong-groove-for-sliding-disc">
            <div class="js-toggle-left-icon-for-igt">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="16px" height="16px" fill="#ffe0cc" vertical-align="top"><path d="M87-367q-47-47-47-113t47-113q47-47 113-47t113 47q47 47 47 113t-47 113q-47 47-113 47T87-367Zm423 57q-70-70-70-170t70-170q70-70 170-70t170 70q70 70 70 170t-70 170q-70 70-170 70t-170-70Zm283-57q47-47 47-113t-47-113q-47-47-113-47t-113 47q-47 47-47 113t47 113q47 47 113 47t113-47Z"/></svg>
            </div>
            <div class="js-toggle-right-icon-for-igt">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="16px" height="16px" fill="#ffe0cc" vertical-align="top"><path d="M680-280q-72 0-127-45.5T484-440H272q-12 27-37 43.5T180-380q-42 0-71-29t-29-71q0-42 29-71t71-29q30 0 55 16.5t37 43.5h212q14-69 69-114.5T680-680q83 0 141.5 58.5T880-480q0 83-58.5 141.5T680-280Zm85-115q35-35 35-85t-35-85q-35-35-85-35t-85 35q-35 35-35 85t35 85q35 35 85 35t85-35Z"/></svg>
            </div>
        </div>

        <!-- The 2 DIVs having the following class are the two gray sliding discs -->
        <div class="js-toggle-sliding-opaque-disc"></div>

        <input class="js-toggle-screenreader-only" type="checkbox" aria-label="Switch between Hide IGT mode and Show IGT mode">

    </div>

<span> Show IGT &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Heath Off </span>

    <div class="js-toggle-for-heath">

        <div class="js-toggle-oblong-groove-for-sliding-disc">
            <div class="js-toggle-left-icon-for-heath">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="16px" height="16px" fill="#ffe0cc" vertical-align="top"><path d="M440-80v-166L310-118l-56-56 186-186v-80h-80L174-254l-56-56 128-130H80v-80h166L118-650l56-56 186 186h80v-80L254-786l56-56 130 128v-166h80v166l130-128 56 56-186 186v80h80l186-186 56 56-128 130h166v80H714l128 130-56 56-186-186h-80v80l186 186-56 56-130-128v166h-80Z"/></svg>
            </div>
            <div class="js-toggle-right-icon-for-heath">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="16px" height="16px" fill="#ffe0cc" vertical-align="top"><path d="M491-200q12-1 20.5-9.5T520-230q0-14-9-22.5t-23-7.5q-41 3-87-22.5T343-375q-2-11-10.5-18t-19.5-7q-14 0-23 10.5t-6 24.5q17 91 80 130t127 35Zm-239.5 26Q160-268 160-408q0-100 79.5-217.5T480-880q161 137 240.5 254.5T800-408q0 140-91.5 234T480-80q-137 0-228.5-94ZM652-230.5Q720-301 720-408q0-73-60.5-165T480-774Q361-665 300.5-573T240-408q0 107 68 177.5T480-160q104 0 172-70.5ZM480-480Z"/></svg>
            </div>
        </div>

        <!-- The 2 DIVs having the following class are the two gray sliding discs -->
        <div class="js-toggle-sliding-opaque-disc"></div>

        <input class="js-toggle-screenreader-only" type="checkbox" aria-label="Switch between Heath On mode and Heath Off mode">

    </div>

    Heath On

</div>

<style>

  /*
   * Dark Mode Toggle
   * Copyright (c) 2015 instructure-react
   * Forked from Dan Abramov's personal blog
   * https://github.com/gaearon/overreacted.io/blob/master/src/components/Toggle.css
   * MIT License
   */

.js-row-of-toggles {
    all: revert;
    align: left;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;

font-family: var(--font-family-proportional-sans-serif);


//    display: table;
}

.js-toggle-for-igt,
.js-toggle-for-heath {
    touch-action: pan-x;
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;
    -webkit-touch-callout: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
  }

  .js-toggle-left-icon-for-igt,
  .js-toggle-left-icon-for-heath,
  .js-toggle-right-icon-for-igt,
  .js-toggle-right-icon-for-heath {
    position: absolute;
    width: 17px;
    height: 17px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
  }

  .js-toggle-left-icon-for-igt,
  .js-toggle-right-icon-for-igt {
    rotate: 90deg;
  }

  .js-toggle-left-icon-for-igt,
  .js-toggle-left-icon-for-heath {
    left: 5px;
  }

  .js-toggle-right-icon-for-igt,
  .js-toggle-right-icon-for-heath {
    right: 5px;
  }

  .js-toggle-oblong-groove-for-sliding-disc {
    width: 50px;
    height: 24px;
    padding: 0;
    border-radius: 30px;
    background-color: #333; //hsl(222, 14%, 7%);
    transition: all 0.2s ease;
  }

  .js-toggle-sliding-opaque-disc {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #aaa; //#fafafa;
    box-sizing: border-box;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    transform: translateX(0);
  }
  
  .js-toggle-for-igt--checked .js-toggle-sliding-opaque-disc,
  .js-toggle-for-heath--checked .js-toggle-sliding-opaque-disc {
    transform: translateX(26px);
  }
  
  .js-toggle-screenreader-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

</style>


<script>
var body = document.body;
var switcher = document.getElementsByClassName('js-toggle-for-heath')[0];
// Click on dark mode icon. Add dark mode classes and wrappers. Store user preference through sessions
switcher.addEventListener("click", function() {
  this.classList.toggle('js-toggle-for-heath--checked');
  this.classList.add('js-toggle-for-heath--focus');
  //If dark mode is selected
  if (this.classList.contains('js-toggle-for-heath--checked')) {
    body.classList.remove('heath-mode-off');
    body.classList.add('heath-mode-on');
    // Save user preference in storage
    // localStorage.setItem('liteMode', 'false');
    localStorage.setItem('darkMode', 'true');
  } else {
    body.classList.remove('heath-mode-on');
    body.classList.add('heath-mode-off');
    setTimeout(function() {
      localStorage.removeItem('darkMode');
    }, 100);
  }
})
// Check Storage. Keep user preference on page reload
if (localStorage.getItem('darkMode')) {
  switcher.classList.add('js-toggle-for-heath--checked');
  body.classList.remove('heath-mode-off');
  body.classList.add('heath-mode-on');
}
</script>


<script>
var body = document.body;
var switcher = document.getElementsByClassName('js-toggle-for-igt')[0];
// Click on dark mode icon. Add dark mode classes and wrappers. Store user preference through sessions
switcher.addEventListener("click", function() {
  this.classList.toggle('js-toggle-for-igt--checked');
  this.classList.add('js-toggle-for-igt--focus');
  //If dark mode is selected
  if (this.classList.contains('js-toggle-for-igt--checked')) {
    body.classList.remove('sans-mode');
    body.classList.add('serif-mode');
    // Save user preference in storage
    // localStorage.setItem('sansMode', 'false');
    localStorage.setItem('serifMode', 'true');
  } else {
    body.classList.remove('serif-mode');
    body.classList.add('sans-mode');
    setTimeout(function() {
      localStorage.removeItem('serifMode');
    }, 100);
  }
})
// Check Storage. Keep user preference on page reload
if (localStorage.getItem('serifMode')) {
  // body.classList.add('serif-mode');
  switcher.classList.add('js-toggle-for-igt--checked');
  body.classList.remove('sans-mode');
  body.classList.add('serif-mode');
}
</script>
