/* This pair of font-family variables is copied over from vars-custom.scss.
   Reason for duplication is detailed there. If you change it here, change it
   there too.

   I'm treating Courier as sans-serif even though it's not (it's slab-serif),
   because it's monospaced. TODO: make UI label say "mono" instead of "sans"
*/
$font_family_serif: 
  Georgia, Charter, "Bitstream Charter", serif !default;
$font_family_sans_serif: 
  Monaco, Courier, "Liberation Mono", "Courier New", monospace, sans_serif !default;

/* ~ ~ ~ ~ ~
   Start of font toggle. See also toggle.html. This mixin, and its inclusion in
   both declaration blocks, is needed to prevent the two styles from becoming
   swapped when the page loads with the toggle in the "wrong" setting:
   ~ ~ ~ ~ ~ 
*/

@mixin serif-or-sans($the-serif-toggle: true) {
  @if $the-serif-toggle {
    font-family: $font_family_serif;	
  } @else {
    font-family: $font_family_sans_serif;
  }
}
body.serif-mode, 
body.serif-mode main * {
  // Without the inclusion, the styles 
  // may get swapped on a page reload:
  // font-family: $font_family_serif; // unnecessary
  @include serif-or-sans($the-serif-toggle: true);
}
body.sans-mode, 
body.sans-mode main * {
  // Without the inclusion, the styles 
  // may get swapped on a page reload:
  // font-family: $font_family_sans_serif; // unnecessary
  @include serif-or-sans($the-serif-toggle: false);
}

/* ~ ~ ~ ~ ~
   End of font toggle
   ~ ~ ~ ~ ~ 
*/

/* ~ ~ ~ ~ ~
   Start of garish colors toggle (see also toggle.html)
   ~ ~ ~ ~ ~ 
*/

@mixin qa-or-dev($the-color-toggle: true) {
  @if $the-color-toggle {
    a                  { color: #f00; } // else color_primary
    .galleries a       { color: #00f; } // else color_primary
    .markdown-body     { color: #0ff; } // else color-text_ ...
    h1, h2, h3, h4, h5 { color: #0f0; } // else color-text_ ...
    p                  { color: #ff0; } // else color-text_ ...
    .design-hint       { color: #f0f; }
  }
}
body.qa-mode, 
body.qa-mode main * {
  @include qa-or-dev($the-color-toggle: true);
}
body.dev-mode, 
body.dev-mode main * {
  @include qa-or-dev($the-color-toggle: false);
}

/* ~ ~ ~ ~ ~
   End of garish colors toggle 
   ~ ~ ~ ~ ~ 
*/

/* +----------------------------------------+
   |                                        |
   |  Start of No-JS theming configuration  |
   |                                        |
   +----------------------------------------+
*/

// Hide the radio buttons:
input[type="radio"] {
  //size: 1px;
  //width: 1px;
  height: 1.5rem;
  //        display: flex; //block;
  //all: unset; //initial; // revert ; //;
}

// Style the labels as buttons:
.theme-selector label {
  cursor: pointer;
  padding: 0.3rem 1rem;
  margin: 1px 1px;
  border-radius: 2rem;
  background: #333;
  color: #ccc2b8;
  font-weight: bold;
  transition: background 0.3s;
}

// Highlight active label:
.nojs-style-set:has(#nojs-quote-style-none:checked)
  label[for="nojs-quote-style-none"],
.nojs-style-set:has(#nojs-quote-style-minimal:checked)
  label[for="nojs-quote-style-minimal"],
.nojs-style-set:has(#nojs-quote-style-ticked:checked)
  label[for="nojs-quote-style-ticked"],
.nojs-style-set:has(#nojs-quote-style-halfticked:checked)
  label[for="nojs-quote-style-halfticked"],
.nojs-style-set:has(#nojs-quote-style-book:checked)
  label[for="nojs-quote-style-book"],
.nojs-style-set:has(#nojs-quote-style-guillemet:checked)
  label[for="nojs-quote-style-guillemet"],
.nojs-style-set:has(#nojs-quote-style-exagg:checked)
  label[for="nojs-quote-style-exagg"] {
  background: #ccae8f !important;
  // #ccae8f and #335170 are RGB opposites
  color: #335170 !important;
  text-decoration: overline dotted !important;
}

/* ====================
   The NONE Style
   ====================
*/

.nojs-style-set:has(#nojs-quote-style-none:checked) {
  --nojs-quote-chars: '"' '"' "\'" "\'";
  * {
    // Initial and Unset are both far, far too sweeping: 
    // all: initial;
    // all: unset;
    // Revert certainly does the job:
    all: revert;
  }
}

/* ====================
   The MINIMAL Style
   ====================
*/

.nojs-style-set:has(#nojs-quote-style-minimal:checked) {
  --nojs-quote-chars: '"' '"' "\'" "\'";

    // 'hr {all: revert;}' makes hr's (xcpt the 2 framing the title) shrink to 
    // a point, because it disables the browser's styling. Oddly, 
    // '* {all: revert;}' doesn't affect hr's. But the Mozilla docs say that 
    // using 'revert' here shouldn't affect browser styles:

    // https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/all

  .fisheye-means-rightmost {
    // all: revert; // Uncommenting this line centers these DIVs. Unsure why.
  }
}

/* ====================
   Values common to all styles beyond MINIMAL
   ====================
*/

.nojs-style-set:has(#nojs-quote-style-ticked:checked),
.nojs-style-set:has(#nojs-quote-style-halfticked:checked),
.nojs-style-set:has(#nojs-quote-style-book:checked),
.nojs-style-set:has(#nojs-quote-style-guillemet:checked),
.nojs-style-set:has(#nojs-quote-style-exagg:checked) {

  /* ~ ~ ~ ~ ~
     Quotation mark configuration
     ~ ~ ~ ~ ~ 
  */

  blockquote,
  .dek,
  i.so-called, 
  i.nickname,
  cite.article-title, 
  cite.like-article-title {
    quotes: var(--nojs-quote-chars);
  }  
  blockquote::before,
  .dek::before,
  i.so-called::before, 
  i.nickname::before,
  cite.article-title::before, 
  cite.like-article-title::before {
    content: open-quote; //"↳";
    color: var(--nojs-quote-color);
    font-size: var(--nojs-quote-font-size);
  }
  blockquote::after,
  .dek::after,
  i.so-called::after, 
  i.nickname::after,
  cite.article-title::after, 
  cite.like-article-title::after {
    content: close-quote; //"↲";
    color: var(--nojs-quote-color);
    font-size: var(--nojs-quote-font-size);
  }

  /* ~ ~ ~ ~ ~
     Large-scale elements: BODY, MAIN, & FOOTER
     ~ ~ ~ ~ ~ 
  */
  
  body * {
    line-height: 1.5;
  }
  body main {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  /* Side padding for footer is already 
     at 1rem (because of Galleries Deluxe?) 
  */
  body footer {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  /* ~ ~ ~ ~ ~
     Elements for lists: OL, UL, LI 
     ~ ~ ~ ~ ~ 
  */
  
  ol {
    /* Override assignment of "disc" in styles.scss, which would make ol's 
       resemble ul's: 
    */
    list-style-type: decimal !important;
    list-style-position: outside !important; /* Is "inside" better? */
    /* padding-left: 1rem; */
    margin-left: 2rem;
    margin-bottom: 0.5rem;
  }
  ul {
    /* padding-left: 1rem; */
    margin-left: 2rem;
    margin-bottom: 0.5rem;
  }
  body main ul > li {
    list-style-type: circle;
  }
  body main ul > li > ul > li {
    list-style-type: disc;
  }
  body main ul > li > ul > li > ul > li {
    list-style-type: square;
  }
  body main ul > li > ul > li > ul > li > ul > li {
    list-style-type: circle;
  }
  body main ul > li > ul > li > ul > li > ul > li > ul > li {
    list-style-type: disc;
  }

  /* ~ ~ ~ ~ ~
     The PRE, CODE, SAMP, and KBD elements 
     ~ ~ ~ ~ ~ 
  */
  
  /* "<pre> elements commonly contain <code>, <samp>, and <kbd> elements, to
     represent computer code, computer output, and user input, respectively.
     ... To represent multiple lines of code, wrap the <code> element within 
     a <pre> element. The <code> element by itself only represents a single 
     phrase of code or line of code."
  
     Source: https://developer.mozilla.org/en-US/do
             cs/Web/HTML/Reference/Elements/pre
  */
  body pre code {
    /* margin-left affects 1st line only, unless "display: block" is also used 
    */
    display: block;
    margin-left: 1rem;
  
    /* This font-family line has no effect when font_family_sans_serif is in
       effect. Therefore, to see ASCII art, either (a) specify a monospace font
       for font_family_sans_serif or (b) stay toggled to font_family_serif. 
    */
    font-family: monospace !important;
  
    white-space-collapse: preserve;
    text-wrap-mode: nowrap;
  }

  /* ~ ~ ~ ~ ~
     Other block-level elements
     ~ ~ ~ ~ ~ 
  */

  blockquote {
    margin-left: 3rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
  }

  /* ~ ~ ~ ~ ~
     Classes for headings: .h2-from-1star, .h3-from-2stars, etc. 
  
     The class .asterism is also defined here, because it's used only above and
     below headings
     ~ ~ ~ ~ ~ 
  */
  
  .asterism {
    font-family: monospace;
    white-space-collapse: preserve;
    text-align: center;
    color: #777;
    line-height: 1;
  }
  .h2-from-1star, 
  .h3-from-2stars, 
  .h4-from-3stars {
    text-align: center;
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 2rem;
  }
  .h5-from-4stars {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  /* ~ ~ ~ ~ ~
     Block-level classes unrelated to headings
     ~ ~ ~ ~ ~ 
  */

  .commentary, 
  .url-line {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
  }
  .dek {
    margin-left: 3rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
  }
  .fisheye-means-rightmost {
    text-align: right;
    margin-right: 1rem;
  }

  /* ~ ~ ~ ~ ~
     Must override the default oblique styling of CITE as follows. (Oblique
     styling is not automatically applied to the I element.)
     ~ ~ ~ ~ ~ 
  */

  cite {
    font-style: normal;
  }

  /* ~ ~ ~ ~ ~
     Span-level "element and class" combinations that are typically oblique

     e.g. the CITE and I elements, but only with classes needing oblique 
     styling
     ~ ~ ~ ~ ~ 
  */

  i.term {
    color: pink;
    text-decoration: underline dotted;
    // font-style: italic;
  }
  cite.book-title, 
  cite.like-book-title {
    color: purple;
    text-decoration: underline;
  }

  /* ~ ~ ~ ~ ~
     Span-level "element and class" combinations that are typically quoted
     ~ ~ ~ ~ ~ 
  */

  i.so-called, 
  i.nickname {
    color: yellow;
  }
  cite.article-title, 
  cite.like-article-title {
    color: green;
  }

  /* ~ ~ ~ ~ ~
     Span-level elements or classes ill-suited for the above
     ~ ~ ~ ~ ~ 
  */

  cite.media-title, 
  cite.special-citation {
    color: cyan;
  }
  abbr {
    text-decoration: underline dotted;
  }

}

.nojs-style-set:has(#nojs-quote-style-ticked:checked) {
  // 0x2035 &bprime, 0x2032 &prime, etc.:
  --nojs-quote-chars: "‵‵" "′′" "‵" "′";
}
.nojs-style-set:has(#nojs-quote-style-halfticked:checked) {
  // 0x2035 &bprime, 0x2032 &prime, etc.:
  --nojs-quote-chars: "‵‵" "\'\'" "‵" "\'";
}
.nojs-style-set:has(#nojs-quote-style-book:checked) {
  // 0x2018 &lsquo, 0x2019 &rsquo, etc.:
  --nojs-quote-chars: "“" "”" "‘" "’";
}
.nojs-style-set:has(#nojs-quote-style-guillemet:checked) {
  --nojs-quote-chars: "«" "»" "‹" "›";
}
.nojs-style-set:has(#nojs-quote-style-exagg:checked) {
  --nojs-quote-chars: '❝' '❞' "❛" "❜";
  --nojs-quote-color: red;
  --nojs-quote-font-size: 3rem;
}

// 45678901234567890123456789012345forty1234567890123456789012345678901234eighty

p {
  margin-bottom: 2rem;
}

/* Start of: The following is necessary in order to override the assignment 
   of "quotes: none" in reset.scss (lines 86 and 91)

no queues in src!
*/

    q {
      quotes: "«" "»" "‹" "›";
      //quotes: var(--nojs-quote-chars);
    }

    q::before, q::after {
      content: revert;
      color: var(--nojs-quote-color);
    }

/* End of: The following is ... (lines 86 and 91)
*/

/* DELME

    // cf. https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Propert
    // ies/quotes#with_generated_content

    // For an example of how these are nested across classes (which
    // requires "... ::before { content: open-quote; ..." etc.),
    // search my content for the title starting "Tower Of Babble"

    quotes: var(--nojs-quote-chars);


    i.so-called::before, 
    i.nickname::before {
  content: open-quote; //"↳";
  color: var(--nojs-quote-color);
}

    i.so-called::after, 
    i.nickname::after {
  content: close-quote; //"↲";
  color: var(--nojs-quote-color);
}
*/

/* ~ ~ ~ ~ ~
   Classes for debugging
   ~ ~ ~ ~ ~ 
*/

.design-hint {
  color: #222; 
}

/* +--------------------------------------+
   |                                      |
   |  End of No-JS theming configuration  |
   |                                      |
   +--------------------------------------+
*/

/* I decided to keep the apostrophes hard-coded in my content as `’` (a.k.a. 
   the Unicode `right single quotation mark`, and the HTML entity `&rsquo;`).
   The alternative, which was (1) to replace each occurrence with ...

     <span class="apostrophe"></span>

   ... and (2) to rely on this styling ...

     span.apostrophe::before { // COULD HAVE USED ::after INSTEAD
       content: var(--nojs-apostrophe-char);
       color: var(--nojs-apostrophe-color); // OPTIONAL DEBUGGING AID
     }

   ... had the side effect that copying content from the browser to the 
   clipboard would omit all apostrophes, because they wouldn’t exist in 
   the DOM. I realized that that was far too big a price for the intended
   benefit: to let the user toggle among `’`, `'`, and `´` (via, indirectly,
   a CSS custom property that I named `--nojs-apostrophe-char`).

   p.s. In any such approach, the span element MUST be empty, i.e. composed
   of both an opening tag and an adjacent closing tag; otherwise the missing 
   character can’t be supplied. Write it, e.g., like this ...

     <span class="apostrophe"></span>

   ... and never like this ...

     <span class="apostrophe"/> 

   ... (which is bad HTML anyway).
*/

/* ====================
   Start of configuration for image captions used under Galleries Deluxe
   ====================
*/

.gd-modal-caption {
  position: absolute;
  z-index: 20;
  bottom: 10px;
  left: 10px;
  color: #d80;
  background-color: #333;
  padding: 0.75rem;
  opacity: 1.0;
  filter: drop-shadow(-1px -1px 2px #ccc);
}

.gd-modal-caption:hover {
  opacity: 1;
  cursor: pointer;
}

/* ====================
   End of configuration for image captions used under Galleries Deluxe
   ====================
*/
