{{ define "main" }}

  <span class="design-hint">dp»</span>
  {{ $allText := .Content }}
  {{ $allText = replaceRE `\)` `TMPLT_RPAREN` $allText }}
  {{ $allText = replaceRE `\(` `TMPLT_LPAREN` $allText }}
  {{ $allText = replaceRE `\?` `TMPLT_QSTNMK` $allText }}

{{- /*
  {{ $regexp99 := `(=&gt; <a h)ref="https://en.wikipedia.org/wiki/` }}
  {{ $matches99 := findRE $regexp99 $allText }}
  {{ range $matches99 }}
      {{ $allText = replaceRE . "foo" $allText }}
  {{ end }}

  For markdown (as opposed to org mode), select headlines thus:
  `<h1 id="(.+)">(.+)</h1>`
  And, in the replacement, use the captures thus:
  <p id="$1" align="center">$2</p>
*/ -}}

  {{ $allText = 
      replaceRE 
     `<h2 id="headline-([0-9]+)">` 
     `<div class="asterism" align="center"><pre>



-  *  - | -  *  - | -  *  - | -  *  - | -  *  - | -  *  - | -  *  -
</pre></div><div class="asterism" align="center"><pre>
|    *         *    |    *         *    |    *         *    |
</pre></div><div class="asterism" align="center"><pre>
*   *  |  *   *  |  *   *  |  *   *  |  *   *  |  *   *



</pre></div><p id="headline-$1" align="center">` 
      $allText 
  }}

  {{ $allText = 
      replaceRE 
     `</h2>` 
     `</p><div class="asterism" align="center"><pre>

*   *  |  *   *  |  *   *  |  *   *  |  *   *  |  *   *
</pre></div><div class="asterism" align="center"><pre>
|    *         *    |    *         *    |    *         *    |
</pre></div><div class="asterism" align="center"><pre>
-  *  - | -  *  - | -  *  - | -  *  - | -  *  - | -  *  - | -  *  -



</pre></div>` 
      $allText 
  }}

  {{ $allText = 
      replaceRE 
     `<h3 id="headline-([0-9]+)">` 
     `<div class="asterism" align="center"><pre>



-  *  - | -  **  - | -  *  - | -  **  - | -  *  - | -  **  - | -  *  -


</pre></div><p id="headline-$1" align="center">` 
      $allText 
  }}

  {{ $allText = 
      replaceRE 
     `</h3>` 
     `</p><div class="asterism" align="center"><pre>
-  *  - | -  **  - | -  *  - | -  **  - | -  *  - | -  **  - | -  *  -



</pre></div>` 
      $allText 
  }}

  {{ $allText = 
      replaceRE 
     `<h4 id="headline-([0-9]+)">` 
     `<div class="asterism" align="center"><pre>



-  -  -  -  -  *  -  *  -  *  -  -  -  -  -


</pre></div><p id="headline-$1" align="center">TMPLT_S` 
      $allText 
  }}

  {{ $allText = 
      replaceRE 
     `</h4>`
     `TMPLT_E</p><div class="asterism" align="center"><pre>
-  -  -  -  -  *  -  *  -  *  -  -  -  -  -



</pre></div>` 
      $allText 
  }}

{{- /*
  {{ $allText = 
      replaceRE
     `, writing in ([a-zA-Z ]+) \(([12][0-9][0-9][0-9])\): ([&R][#e][3v][4i][;e])`
     `, writing in $1 $2:<br>$3`
      $allText 
  }}
*/ -}}

  {{ $regexpAnniv := `TMPLT_S
.*
TMPLT_E` 
  }}
  {{ $matchesAnniv := findRE $regexpAnniv $allText 
  }}
  {{ range $matchesAnniv 
  }}
    {{ $lengthOfCurrentTitle := strings.RuneCount . }}
    {{ if gt $lengthOfCurrentTitle 43 }}
      {{ $sliced := split . " " }}
      {{ $counter := 0 }}
      {{ range $sliced }}
        {{ if lt $counter (div $lengthOfCurrentTitle 2) }}
          {{ $counter = (add $counter (len .)) }}
          {{ $counter = (add $counter 1) }}
        {{ end }}
      {{ end }}
{{ $counterAsStr := (string $counter) }}
      {{ $allText = 
          replaceRE
          . 
          (add 
              (substr . 8 (sub $counter 8))
              `<br/>`
              (substr . $counter -8)
          )
          $allText
      }}
    {{ else }}
      {{ $allText = 
          replaceRE
          . 
          (substr . 8 -8)
          $allText
      }}
    {{ end }}
  {{ end 
  }}

  {{ $allText = 
      replaceRE
     `<p>
◉ Bookmark, ([JFMASOND][aepuco][nbrynlgptvc]) ([0-9stndrh]+)</p>`
     `<div class="fisheye-means-rightmost">Bookmark, $2 $1&nbsp;</div><p></p>`
      $allText
  }}

  {{ $allText = 
      replaceRE
     `<p>
dek: &#34;(.+)&#34;</p>`
     `<div class="dek-or-block">"$1" -- the subhead</div><p></p>`
      $allText
  }}

  {{ $allText = 
      replaceRE
     `&gt; &#34;(.+)&#34; – from`
     `<div class="dek-or-block">"$1" – from</div>`
      $allText
  }}

  {{ $allText = 
      replaceRE
     `<p>
=&gt; (<a href="https://.+</a>) (.+) / by (.+)</p>`
     `<p>
Source: $1 TMPLT_NORTHEAST_ARROW / by $3</p>`
      $allText
  }}

  {{ $allText = 
      replaceRE 
     `TMPLT_NORTHEAST_ARROW`
     `<img src="/link-external-small-ltr-progressive.svg" width="12px" height="12px" alt="(An external link.)">`
      $allText
  }}

  {{ $allText = 
      replaceRE 
     `<pre class="example">`
     `<pre class="org-example-kludge">` 
      $allText
  }}

  {{ $allText = replaceRE `TMPLT_RPAREN` `)` $allText }}
  {{ $allText = replaceRE `TMPLT_LPAREN` `(` $allText }}
  {{ $allText = replaceRE `TMPLT_QSTNMK` `?` $allText }}
  {{ $allText | safeHTML }}
  <span class="design-hint">«dp</span>

{{ end }}