{{ define "main" }}

  <span class="design-hint">dp»</span>
  {{- /*
    {{ .TableOfContents }}
  */ -}}

  {{ $allText := .Content }}
  {{ $allText = replaceRE `\)` `TMPLT_RPAREN` $allText }}
  {{ $allText = replaceRE `\(` `TMPLT_LPAREN` $allText }}
  {{ $allText = replaceRE `\?` `TMPLT_QSTNMK` $allText }}
  {{- /* The following is also the apostrophe in most publications: */ -}}
  {{ $allText = replaceRE `’`  `TMPLT_RSNGQA` $allText }}
  {{ $allText = replaceRE `‘`  `TMPLT_LSNGQA` $allText }}
  {{ $allText = replaceRE `”`  `TMPLT_RDBLQA` $allText }}
  {{ $allText = replaceRE `“`  `TMPLT_LDBLQA` $allText }}
  {{ $allText = replaceRE `«`  `TMPLT_LDGUIL` $allText }}
  {{ $allText = replaceRE `»`  `TMPLT_RDGUIL` $allText }}
  {{ $allText = replaceRE `‹`  `TMPLT_LSGUIL` $allText }}
  {{ $allText = replaceRE `›`  `TMPLT_RSGUIL` $allText }}
  {{ $allText = replaceRE `--` `TMPLT_2HYFNS` $allText }}
  {{ $allText = replaceRE `–`  `TMPLT_2HYFNS` $allText }}

{{- /* Why can't these be handled by :before and :after in .scss? */ -}}

{{- /* 
  {{ $allText = replaceRE `<cite>`  `&#8990;<cite>`  $allText }}
  {{ $allText = replaceRE `</cite>` `</cite>&#8991;` $allText }}
end of comment was here
  {{ $allText = replaceRE `<abbr>`  `&#9659;<abbr>`  $allText }}
  {{ $allText = replaceRE `</abbr>` `</abbr>&#9669;` $allText }}
  {{ $allText = replaceRE `<q>`     `&#9440;<q>`  $allText }}
  {{ $allText = replaceRE `</q>`    `</q>&#9414;` $allText }}

*/ -}}

{{- /*
  {{ $regexp99 := `(=&gt; <a h)ref="https://en.wikipedia.org/wiki/` }}
  {{ $matches99 := findRE $regexp99 $allText }}
  {{ range $matches99 }}
      {{ $allText = replaceRE . "foo" $allText }}
  {{ end }}

  Where YAML frontmatter says "markup: org" (or the equivalent in TOML or JSON), select headlines thus:

  `<h2 id="headline-([0-9]+)">(.+)</h2>`

  Based on what I tried in the sandbox at https://niklasfasching.github.io/go-org/#headlines.org ,
  the fact that a 1-asterisk headline maps to <h2>, a 3-asterisk'er maps to <h4>, etc. is a
  feature/convention/design pattern of Emacs Org Mode and not a bug. Anyway, I like it.

  For markdown (as opposed to org mode), select headlines thus:

  `<h1 id="([^"]+)">(.+)</h1>`

  And, in the replacement, use the captures thus:

  <p id="$1" align="center">$2</p>
*/ -}}

{{- /* TEMPORARILY DISABLED
  {{ $allText = 
      replaceRE 
     `<h2 id="([^"]+)">` 
     `<div class="asterism">-  *  - | -  *  - | -  *  - | -  *  - | -  *  - | -  *  - | -  *  -
|    *         *    |    *         *    |    *         *    |
*   *  |  *   *  |  *   *  |  *   *  |  *   *  |  *   *


</div><h2 class="h2-from-1star" id="$1">` 
      $allText 
  }}

  {{ $allText = 
      replaceRE 
     `</h2>` 
     `</h2><div class="asterism">*   *  |  *   *  |  *   *  |  *   *  |  *   *  |  *   *
|    *         *    |    *         *    |    *         *    |
-  *  - | -  *  - | -  *  - | -  *  - | -  *  - | -  *  - | -  *  -


</div>` 
      $allText 
  }}

  {{ $allText = 
      replaceRE 
     `<h3 id="([^"]+)">` 
     `<div class="asterism">-  - | -  **  - | -  *  - | -  **  - | -  *  - | -  **  - | -  -


</div><h3 class="h3-from-2stars" id="$1">` 
      $allText 
  }}

  {{ $allText = 
      replaceRE 
     `</h3>` 
     `</h3><div class="asterism">-  - | -  **  - | -  *  - | -  **  - | -  *  - | -  **  - | -  -


</div>` 
      $allText 
  }}

end of TEMPORARILY DISABLED */ -}}

{{- /* 
None of my 126 h4-level headlines have shown an inequality between these two:
    {{ $lengthOfCurrentTitle := strings.RuneCount $preciselyMeasurableMatch }}
    {{ $lenOfCurrentTitle := len $preciselyMeasurableMatch }}
However, 17 of the 126 do show an inequality when using . instead of $scouredMatch

If the ’ character occurs in the first half of a sufficiently long match, then 
the counter overshoots by two and the match is split in the middle of a word.

safeHTML seems unneeded
*/ -}}

{{- /* 
        replaceRE
        `TMPLT_[A-Z0-9][A-Z0-9][A-Z0-9][A-Z0-9][A-Z0-9][A-Z0-9]`
        `~`
*/ -}}
{{- /* 
    {{ $unescapedMatch := safeHTML (htmlUnescape $roughlyMeasurableMatch) }}
    {{ $preciselyMeasurableMatch := 
        replaceRE
        `[^_ a-zA-Z0-9]`
        `^`
        $unescapedMatch
    }}
*/ -}}

{{- /*
  {{ $allText = 
      replaceRE
     `, writing in ([a-zA-Z ]+) \(([12][0-9][0-9][0-9])\): ([&R][#e][3v][4i][;e])`
     `, writing in $1 $2:<br>$3`
      $allText 
  }}
*/ -}}

{{- /* TEMPORARILY DISABLED

  {{ $allText = 
      replaceRE
     `<h5 id="([^"]+)">
(.*)
</h5>`
     `<h5 class="h5-from-4stars" id="$1">
$2
</h5>`
      $allText
  }}



  {{ $allText = 
      replaceRE
     `<p>[
]?~ (.+)</p>`
     `<div class="commentary">$1</div>`
      $allText
  }}

end of TEMPORARILY DISABLED */ -}}

{{- /*
  {{ $allText = 
      replaceRE 
     `<pre class="example">`
     `<pre class="org-example-kludge">` 
      $allText
  }}
*/ -}}

  {{- /* The block-level CASES */ -}}

  {{- /* CASE a1: typical reportage, e.g.

         #### ≤aBlake Gopnik, writing in NYT (2021) under the headline «Who Said Art Is Only for the One Percent?»≥

  */ -}}
  {{ $allText = 
      replaceRE 
     `≤a(.+), writing in (.+) TMPLT_LPAREN([12][0-9][0-9][0-9])TMPLT_RPAREN under the headline TMPLT_LDGUIL(.+)TMPLT_RDGUIL≥`
     `$1, writing in $2 TMPLT_LPAREN $3 TMPLT_RPAREN under the headline TMPLT_LDGUIL $4 TMPLT_RDGUIL`
      $allText
  }}

  {{- /* CASE a2: authorless press release, e.g.

         #### ≤aPublished by Pew Research Center (2016): «Ideological Gap Widens Between More, Less Educated Adults»≥ 

  */ -}}
  {{ $allText = 
      replaceRE 
     `≤aPublished by (.+) TMPLT_LPAREN([12][0-9][0-9][0-9])TMPLT_RPAREN: TMPLT_LDGUIL(.+)TMPLT_RDGUIL≥`
     `Published by $1 TMPLT_LPAREN $2 TMPLT_RPAREN: TMPLT_LDGUIL $3 TMPLT_RDGUIL`
      $allText
  }}

  {{- /* CASE a3: meta-citation of whitepaper, e.g.

         ##### ≤aSource: «Rural America Lost Population Over the Past Decade for the First Time in History» by Kenneth Johnson≥

  */ -}}
  {{ $allText = 
      replaceRE 
     `≤aSource: TMPLT_LDGUIL(.+)TMPLT_RDGUIL by (.+)≥`
     `Source: «$1» by $2`
      $allText
  }}

  {{- /* CASE a4: meta-citation of book, e.g.

SEE also CASE w!

         ##### ≤aSource: _Red Fighting Blue: How Geography and Electoral Rules Polarize American Politics_ by David A. Hopkins≥

  */ -}}
  {{ $allText = 
      replaceRE 
     `≤aSource: _(.+)_ by (.+)≥`
     `Source: <cite class="book-title">$1</cite> by $2`
      $allText
  }}

  {{- /* CASE a5: My citation of typical reportage, but not followed by a quotation from the body, e.g.

         ##### ≤aSource: BBC, «Sierra Leone<span class="apostrophe"></span>s iconic cotton tree felled by storm» by Umaru Fofana (in Freetown) & Robert Greenall (in London)≥

  */ -}}
  {{ $allText = 
      replaceRE 
     `≤aSource: (.+), TMPLT_LDGUIL(.+)TMPLT_RDGUIL by (.+)≥`
     `Source: $1, «$2» by $3`
      $allText
  }}

  {{- /* CASE a6: My citation of Wikipedia, but not followed by a quotation from the body, e.g.

         ##### ≤aSource: Wikipedia, «Cotton Tree (Sierra Leone)»≥

  */ -}}
  {{ $allText = 
      replaceRE 
     `≤aSource: Wikipedia, TMPLT_LDGUIL(.+)TMPLT_RDGUIL≥`
     `Source: Wikipedia, «$1»`
      $allText
  }}

  {{- /* CASE b: blockquotes, e.g.

         ^> "..." ---> ≤b...≥ ---> <blockquote>

         ≤bBrown and the others called the police, as the Japanese shells continued to fall around them.≥

  */ -}}
  {{- /* CASE k: deks, e.g.

         ^dek: "..." ---> ≤k...≥

         ≤bThe subhead, or dek, of the magazine article goes here≥

  */ -}}
  {{ $regexpMatchingLeaves := `≤[^≤≥]+≥` }}
  {{ $allLeaves := findRE $regexpMatchingLeaves $allText }}
  {{ range $allLeaves }}
    {{ $currentLeaf := . }}
    {{ $foundLetter := (substr . 1 1) }}
    {{ $leafText := (substr . 2 -1) }}
    {{ $allText = 
        replaceRE 
        .
        (partial "lettered-span.html" 
          (dict "letter" $foundLetter "leaf_text" $leafText)
        )
        $allText
    }}
  {{ end }}

  {{- /* The inline-level CASES */ -}}

  {{- /* CASE c: title citations that require special handling, e.g.

         ... in ≤cThree Theories That Explain This Strange Moment≥, 2022-11-12 ---> <cite class="special-citation">...</cite>

         ... in ≤cHow ‹I despise, therefore I am› locks in the political status quo≥, 2023-04-12  ---> <cite class="special-citation">...</cite> (WHAT ABOUT THE NESTED PHRASE?)

         ... a class, ≤cThe Problem of Whiteness≥, and ...
         "Course names are capitalized but not italicized or in quotes." -- https://www.swarthmore.edu/communications-office/editorial-style-guide. But NYT uses quotation marks apparently.

         ... of ≤cNBC Out≥, an ...

         ... one of Chaucer’s ≤wCanterbury Tales≥, ≤cThe Reeve’s Tale≥.

  */ -}}
  {{ $allText = 
      replaceRE 
     `≤c([^≥]+)≥`
     `TMPLT_LSPECC $1 TMPLT_RSPECC`
      $allText
  }}

  {{- /* CASE d: definitions and abbreviations, e.g.

         ≤dENIAC, Electronic Numerical Integrator And Computer≥ ---> <abbr>ENIAC</abbr> (Electronic Numerical Integrator And Computer)

         (BUT WHEN I GET AROUND TO DEFS ... ?)

  */ -}}
  {{ $allText = 
      replaceRE 
     `≤d([^ ,≥]+), ([^≥]+)≥`
     `TMPLT_LABBRV $1 TMPLT_RABBRV TMPLT_LPAREN $2 TMPLT_RPAREN`
      $allText
  }}

  {{- /* CASE l: term, word-as-word, logical-statement, synonym, unassimilated foreign word. e.g.

         ≤lDeep South≥ ---> <i class="term">Deep South</i>

  */ -}}
  {{ $allText = 
      replaceRE 
     `≤l([^≥]+)≥`
     `TMPLT_LLOGIC $1 TMPLT_RLOGIC`
      $allText
  }}

  {{- /* CASE n: nicknames, e.g.

         Mary Frances ≤nFrancky≥ Knapp
         --->
         Mary Frances <i class="nickname">Francky</i> Knapp

  */ -}}
  {{ $allText = 
      replaceRE 
     `≤n([^≥]+)≥`
     `TMPLT_LNIKNM $1 TMPLT_RNIKNM`
      $allText
  }}

  {{- /* CASE s: terms that are so-called, e.g.

         ≤sBad≥ ---> <i class="so-called">Bad</i>
         BUT I used quotation marks for this:
         ... thinks our system is «rotten». Trump thinks Putin is a «genius» ...

  */ -}}
  {{ $allText = 
      replaceRE 
     `≤s([^≥]+)≥`
     `TMPLT_LSOCLD $1 TMPLT_RSOCLD`
      $allText
  }}

  {{- /* CASE w: For the typically italicized title/name of a WORK, e.g. book title, newspaper title. So some are series (periodicals) and some aren't.

         ≤wRubber Soul≥ ---> <cite class="tbd-title">Rubber Soul</cite>
         TODO: tbd-title ---> book-title, film-title, artwork-title etc.
         ... episode of the CNN [series] ≤wNomad≥. ...

  */ -}}
  {{ $allText = 
      replaceRE 
     `≤w([^≥]+)≥`
     `TMPLT_LTITLE $1 TMPLT_RTITLE`
      $allText
  }}

  {{- /* This, uhh, kinda-tag is found below CASES a1 and a2 only: */ -}}
  {{ $allText = 
      replaceRE
     `<p>◉ Bookmark, ([JFMASOND][aepuco][nbrynlgptvc]) ([0-9stndrh]+)</p>`
     `<div class="fisheye-means-rightmost">Bookmark, $1 $2&nbsp;</div>`
      $allText
  }}
{{- /* I used to put a <p></p> after the closing div tag, above */ -}}

  {{ $allText = 
      replaceRE
     `<p>=&gt; (<a href="https://.+</a>) (.+) / by (.+)</p>`
     `<div class="url-line">TMPLT_NORTHEAST_ARROW $1 TMPLT_2HYFNS by $3, $2</div>`
      $allText
  }}

  {{ $allText = 
      replaceRE
     `<p>=&gt; (<a href="https://.+</a>) (.+)</p>`
     `<div class="url-line">TMPLT_NORTHEAST_ARROW $1 TMPLT_2HYFNS from $2</div>`
      $allText
  }}

  {{ $allText = 
      replaceRE
     `<p>=&gt; (<a href="https://.+</a>)</p>`
     `<div class="url-line">TMPLT_NORTHEAST_ARROW $1</div>`
      $allText
  }}

  {{ $imageNortheastArrow := resources.Get "images/link-external-small-ltr-progressive.svg" }}
  {{ $theImgElement := print "<img src=\"" $imageNortheastArrow.RelPermalink "\" width=\"12px\" height=\"12px\" vertical-align=\"bottom\" alt=\"(An external link.)\">" }}
  {{ $allText = 
      replaceRE 
     `TMPLT_NORTHEAST_ARROW`
      $theImgElement
      $allText
  }}

  {{ $allText = 
      replaceRE 
     `<h4 id="([^"]+)">` 
     `<div class="asterism">-  -  -  -  -  *  -  *  -  *  -  -  -  -  -


</div><h4 class="h4-from-3stars" id="$1">TMPLT_H4STRT` 
      $allText 
  }}

  {{ $allText = 
      replaceRE 
     `</h4>`
     `TMPLT_H4ENDS</h4><div class="asterism">-  -  -  -  -  *  -  *  -  *  -  -  -  -  -



</div>` 
      $allText 
  }}

  {{ $regexpAnniv := `TMPLT_H4STRT.+TMPLT_H4ENDS` }}
  {{ $matchesAnniv := findRE $regexpAnniv $allText }}
  {{ range $matchesAnniv }}
    {{ $preciselyMeasurableMatch := 
        .
    }}
    {{ $lengthOfCurrentTitle := strings.RuneCount $preciselyMeasurableMatch }}
    {{ $lenOfCurrentTitle := len $preciselyMeasurableMatch }}
    {{ if eq $lengthOfCurrentTitle $lenOfCurrentTitle }}
      {{ $numOfLength12SubstitutesInThisHeadline := 0 }}
      {{ if gt $lengthOfCurrentTitle 80 }}
        {{ $sliced := split $preciselyMeasurableMatch " " }}
        {{ range $sliced }}
          {{ $numOfLength12SubstitutesInThisHeadline = add $numOfLength12SubstitutesInThisHeadline (strings.Count "TMPLT_" .) }}
        {{ end }}
        {{ $numOfAsciiCharsThatWillVanish := mul $numOfLength12SubstitutesInThisHeadline 11 }}
        {{ $lengthOfCurrentTitle = sub $lengthOfCurrentTitle $numOfAsciiCharsThatWillVanish }}
        {{ $midwayPoint := div $lengthOfCurrentTitle 2 }}
        {{ $counterToMidwayPoint := 0 }}
        {{ range $sliced }}
          {{ if lt $counterToMidwayPoint $midwayPoint }}
            {{ $counterToMidwayPoint = add $counterToMidwayPoint (len .) }}
            {{ $counterToMidwayPoint = add $counterToMidwayPoint 1 }}
            {{ $charsInThisTokenSoonToBeHidden := mul (strings.Count "TMPLT_" .) 11 }}
            {{ $midwayPoint = add $midwayPoint $charsInThisTokenSoonToBeHidden }}
          {{ end }}
        {{ end }}
        {{ $allText = 
            replaceRE
            . 
            (add 
                (substr . 12 (sub $counterToMidwayPoint 12))
                `<br/>`
                (substr . $counterToMidwayPoint -12)
            )
            $allText
        }}
      {{ else }}
        {{ $allText = 
            replaceRE
            . 
            (substr . 12 -12)
            $allText
        }}
      {{ end }}
    {{ else }}
      {{ $allText = 
          replaceRE
          .
          (add `ERROR! ` (cast.ToString $lengthOfCurrentTitle) ` does not equal ` (cast.ToString $lenOfCurrentTitle) ` !`)
          $allText
      }}
    {{ end }}
  {{ end }}

  {{- /* The replacements below with a space next to the 
         substitute are only for cases where a symbol like 
         $1, $2 etc. must be followed by a space in the
         definition of one of the replacements above.
  */ -}}
  {{ $allText = replaceRE `TMPLT_LPAREN ` `(`  $allText }}
  {{ $allText = replaceRE `TMPLT_LPAREN` `(`  $allText }}
  {{ $allText = replaceRE ` TMPLT_RPAREN` `)`  $allText }}
  {{ $allText = replaceRE `TMPLT_RPAREN` `)`  $allText }}
  {{ $allText = replaceRE `TMPLT_QSTNMK` `?`  $allText }}
  {{ $allText = replaceRE `TMPLT_LDBLQA` `“`  $allText }}
  {{ $allText = replaceRE `TMPLT_RDBLQA` `”`  $allText }}
  {{ $allText = replaceRE `TMPLT_LSNGQA` `‘`  $allText }}
  {{ $allText = replaceRE `TMPLT_RSNGQA` `’`  $allText }}
  {{ $allText = replaceRE `TMPLT_LDGUIL ` `«`  $allText }}
  {{ $allText = replaceRE `TMPLT_LDGUIL` `«`  $allText }}
  {{ $allText = replaceRE ` TMPLT_RDGUIL` `»`  $allText }}
  {{ $allText = replaceRE `TMPLT_RDGUIL` `»`  $allText }}
  {{ $allText = replaceRE `TMPLT_LSGUIL` `‹`  $allText }}
  {{ $allText = replaceRE `TMPLT_RSGUIL` `›`  $allText }}
  {{ $allText = replaceRE `TMPLT_LSOCLD ` `<i class="so-called">`  $allText }}
  {{ $allText = replaceRE ` TMPLT_RSOCLD` `</i>`  $allText }}
  {{ $allText = replaceRE `TMPLT_LNIKNM ` `<i class="nickname">`  $allText }}
  {{ $allText = replaceRE ` TMPLT_RNIKNM` `</i>`  $allText }}
  {{ $allText = replaceRE `TMPLT_LLOGIC ` `<i class="term">`  $allText }}
  {{ $allText = replaceRE ` TMPLT_RLOGIC` `</i>`  $allText }}
  {{ $allText = replaceRE `TMPLT_LTITLE ` `<cite class="tbd-title">`  $allText }}
  {{ $allText = replaceRE ` TMPLT_RTITLE` `</cite>`  $allText }}
  {{ $allText = replaceRE `TMPLT_LSPECC ` `<cite class="special-citation">`  $allText }}
  {{ $allText = replaceRE ` TMPLT_RSPECC` `</cite>`  $allText }}
  {{ $allText = replaceRE `TMPLT_LABBRV ` `<abbr>`  $allText }}
  {{ $allText = replaceRE ` TMPLT_RABBRV` `</abbr>`  $allText }}
  {{ $allText = replaceRE `TMPLT_2HYFNS` `--` $allText }}
  {{ $allText | safeHTML }}
  <span class="design-hint">«dp</span>

{{ end }}