// In Galleries Deluxe, color_primary is #3a98b9
$color_primary: #ccae8f;
$color_background: #0c0c0c;
$color_background_footer: #000; // darken(#111, 3%);

// The lightness of color_background
// determines which of these two is used:

$color-text_dark: #000;
$color-text_light: #ccc2b8;

// - - - - - - - - - - - -

$font_family_serif: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif !default;

$font_family_sans_serif: Monaco, Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans", source_sans_pro, sans_serif !default;

$font_family_base: $font_family_serif !default;

@mixin serif-or-sans($the-serif-toggle: true) {
  @if $the-serif-toggle {
    font-family: $font_family_sans_serif;
  } 
  // @else {
  //  font-family: $font_family_serif;
  // }
}

body.serif-mode, body.serif-mode main * {
  @include serif-or-sans($the-serif-toggle: true);
}

body.sans-mode, body.sans-mode main * {
  @include serif-or-sans($the-serif-toggle: false);
}

@mixin qa-or-dev($the-color-toggle: true) {
  @if $the-color-toggle {
    a              { color: #f00; } // else color_primary
    .galleries a   { color: #00f; } // else color_primary
    .markdown-body { color: #0ff; } // else color-text_ ...
    h1, h2, h3     { color: #0f0; } // else color-text_ ...
    p              { color: #ff0; } // else color-text_ ...
    .design-hint   { color: #f0f; }
  }
}

body.qa-mode, body.qa-mode main * {
  @include qa-or-dev($the-color-toggle: true);
}

body.dev-mode, body.dev-mode main * {
  @include qa-or-dev($the-color-toggle: false);
}

body main h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

body main h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

body main h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #777;
  margin: 1em 0;
  padding: 0;
}

.gd-modal-caption {
  position: absolute;
  z-index: 20;
  bottom: 10px;
  left: 10px;
  color: #d80;
  background-color: #333;
  padding: 0.75rem;
  opacity: 1.0;
  filter: drop-shadow(-1px -1px 2px #ccc);
}

.gd-modal-caption:hover {
  opacity: 1;
  cursor: pointer;
}

ul, ol {
    list-style-position: inside; /* or 'outside' */
    padding-left: 20px; /* Adjust padding for proper alignment */
}

body main ul > li {
  list-style-type: circle;
}

body main ul > li > ul > li {
  list-style-type: disc;
}

body main ul > li > ul > li > ul > li {
  list-style-type: square;
}

body main ul > li > ul > li > ul > li > ul > li {
  list-style-type: circle;
}

p {
  margin-bottom: 2em; /* Adjust the value to control the blank space after each paragraph */
}

.design-hint {
  color: #222; 
}