{{ define "main" }}

  <span class="design-hint">LAbout»</span>

    {{ $allText := (partial "process-in-sequence.html" 
        (dict "the_content" .Content "mRLT" .LinkTitle)) }}
    {{ $allText | safeHTML }}

  <span class="design-hint">«LAbout</span>

  {{- /*
    {{ with .Site.GetPage "/categories" }}
      {{ range last 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
          <p>
            <div class="date">{{ .PublishDate.Format "2006 Jan 02 Mon" }}</div>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </p> 
      {{ end }}
    {{ end }}
  */ -}}

{{ end }}